[2020-05-06 11:53] shashikanthgadgay0804 commented on #548
Hi @hello-josh ,

Does this happen to all the messages or only few messages ?

We are also facing a similar issue where the message isn't getting deleted after successful execution, hence message is being received 2 or 3 times.

[2020-05-06 12:32] hello-josh commented on #548
Every message. I am in development phase so I am injecting one message at a time and I get 1 receive per running container all at the same time. I can't verify what is happening, but it seems as if the queue polling is overriding message visibility. It doesn't happen when I poll via the AWS UI or the AWS CLI on the same queue. I've even tried running one instance of my app in a debugger locally in

[2020-05-06 13:12] sombhattacharyya1983 commented on #548
@hello-josh   Have you tried playing with the **visibility timeout** setting ? I would suggest set it to 2 minutes or so  and see. Maybe in the code after you read the message you can set the timeout to a higher value and see ?

Ref :
https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html#configuring-visibility-timeout

[2020-05-06 13:18] hello-josh commented on #548
I did review the setting. Visibility is set to 30 seconds. Please see my original bug report and the screen shot in it.

[2020-05-07 16:28] patalwell commented on #538
+1 Might also want to consider supporting Java SDK V2; which will take care of the credentials chain issues and future depreciation of Java SDK V1.

[2020-05-08 00:08] dejonghe opened #553 "Fargate Region Support"
**Is your feature request related to a problem? Please describe.**
When running in Fargate, EC2 Metadata is not available, which causes looking up the region to fail. Based on the implementation of getRegion() or getCurrentRegion() this is nothing this is not a bug of spring-cloud-aws. Note the "If not in EC2 return null" in the following doc.
https://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/

[2020-05-10 21:34] bariscangungor commented on #423
Same problem here; any guidance would be appreciated.
Dependency: spring-cloud-starter-aws Version: 2.2.1.RELEASE
Environment: Amazon EC2 (Redhat 4.18.0-80.4.2.el8_0.x86_64 x86_64 GNU/Linux) & OpenJDK 64-Bit Server VM (build 1.8.0_212-b04)

[2020-05-13 13:13] lewiscog commented on #497
Has any progress been made on this limitation? High throughput applications that wish to fully utilise hardware currently require a custom solution to achieve full utilisation.

[2020-05-13 13:13] lwis commented on #497
Has any progress been made on this limitation? High throughput applications that wish to fully utilise hardware currently require a custom solution to achieve full utilisation.

[2020-05-13 15:39] salah-java opened #554 "Issue with Profile Separator"
The Amazon AWS has possibility of adding '/' as profile separator.
I have secret names configured at AWS Secret Manager as
'/secret/application/configuration'

when I set '/' as profile separator, Bean validation triggers & application boot up fails.

Following are the logs

[code]

Please add the '/' to allowed list of profile separators

[2020-05-14 06:05] salah-java commented on #463
@anthofo @sanimalp is this PR approved, I don't see your changes reflect in the master.
Can you please help me identifying correct version where these changes are merged

[2020-05-14 17:37] sanimalp commented on #463
These changes have not been merged, i am sorry to say. It is unclear why, but may be related to the failing travisCI build related to the branch.

[2020-05-14 17:42] salah-java commented on #463
Thank you for your reply. I really wonder why this is not merged. This is very basic and essential change required.
For the same reason I am unable to use the aws secret manager starter.

[2020-05-14 21:04] maciejwalkowiak commented on #272
I am not saying that it's a good solution. All I am saying is that this is a workaround I found when working with Spring Cloud AWS.

[2020-05-18 19:07] internetstaff commented on #482
@spencergibb Your blog post on 17 April seems to confirm that this project is dead, as already indicated by the plethora of "waiting-for-triage" issues and pull requests. Can you clarify?

Thanks.

[2020-05-18 19:49] spencergibb commented on #482
Look for some official communication soon.

[2020-05-21 09:37] govindrk commented on #474
Hello, i am using spring boot 2.2.27 and latest spring cloud version.  I set a secret in aws - /secret/user and store it. I used the jdk code from aws sdk to getString.

I now delete the secret in aws secrets manager. There is a time period of min 7 days.

Now i try to run my project without the secret manager,  i get run time error 400. InvalidRequest, cannot access secret set for delete.

I use

[2020-05-22 15:40] netbuilder-it opened #555 "Peak of requests towards sqs queue observed in case of exception"
**Describe the bug**
we are using spring cloud version 2.2.1.RELEASE
We have implemented a simple annotated sqs listener  like this:

[code]

We noticed that, when the listener raises an exception, a peak of requests towards the Sqs queue are issued, and our instance starts consuming memory and cpu resources

**Sample**
Unfortunately I can't provide a sample ...

[2020-05-22 16:35] nanachimi opened #556 "EC2 metadata resolution related exception thrown when running application locally"
**Describe the bug**
I used `spring-cloud-starter-aws` (version `2.2.1.RELEASE`) to send email using Amazon SES. I'm able to send email but I have the following error when starting the app. I'm not dealing with EC2 but it looks like the underline `aws-java-sdk-ses` (version `1.11.787`)  is trying to load EC2 resources. How can I get rid of this misconfiguration?

[code]

**Sample**
[code]

[2020-05-26 16:07] joodlehammond commented on #482
Hi @spencergibb can this upgrade not be released separately from the SDK 2.0 work? It looks like @dkimdon managed to get this repo to work with the latest AWS SDK 1.0 libraries. Why does this need to bundled in with the new major update?

[2020-05-27 13:42] huehnerlady commented on #166
Is there any update? We use the latest version of this dependency and still run into this issue. Could someone explain why it makes sense that one message taking longer to process would prevent 9 other threads from continuing processing messages in the first place?

[2020-05-27 13:54] jonfreedman commented on #482
"soon" is a bit vague - should we look to remove this as a dependency?

[2020-05-27 14:03] internetstaff commented on #482
@spencergibb it doesn't seem like other PRs are being reviewed. There's a significant amount of overhead (especially w.r.t. integration tests) for a non-contributor to perform this upgrade. Are there no contributors that could knock this one out?

Alternatively, is there a CI pipeline for this project that will at least run the integration tests?

Thanks.

[2020-05-28 18:54] spencergibb opened #557 "Project Roadmap"
Spring Cloud AWS has been a community project since its initial commit 11e8821afb85205398288ed728bbdee4872ec0ab on 2011-02-10 and when it joined spring cloud on [2014-10-25](https://github.com/spring-cloud/spring-cloud-aws/commits/1.0.x?after=5f933c9e679149efa319b07de32b68a7b646e8a8+279).

The project has lacked a community lead since early 2019.

As noted in the [2020.0.0-M1 blog post](https://sp

[2020-05-28 18:54] spencergibb commented on #557
@maciejwalkowiak has volunteered to help as a maintainer.

[2020-05-28 18:55] spencergibb commented on #482
Please see https://github.com/spring-cloud/spring-cloud-aws/issues/557 for updates on the state of the project.

[2020-05-28 19:17] josecarlosweb commented on #557
Hi, I'm interested.

[2020-05-28 19:43] ErnestOrt commented on #557
Hi, interested as well.

[2020-05-28 19:46] giova333 commented on #557
Hi, I am interested

[2020-05-28 19:51] jmirc commented on #557
Hi, I am interested

[2020-05-28 19:56] eddumelendez commented on #557
I would like to join and help for the future of the project 🙂

[2020-05-28 20:15] giova333 commented on #556
This is how OnAwsCloudEnvironmentCondition works. In order to understand if the application is executed on AWS environment it tries to get instance metadata https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/instancedata-data-retrieval.html The issue is more related to the exception handling/logging as I see.
@maciejwalkowiak I can check this

[2020-05-28 20:34] terancet commented on #557
Hi,

I am interested as well

[2020-05-28 20:36] rbailen commented on #557
Hi friends,

I would like to participate in the challenge with you !

[2020-05-28 20:51] msilvadev commented on #557
Hi, I am interested too

[2020-05-28 21:44] asalan316 commented on #557
Being a spring cloud developer, I am eager to help.

[2020-05-28 21:53] slachiewicz commented on #557
Hi, I'm also interested

[2020-05-28 22:29] asanera commented on #557
Hi, I'm interested.

[2020-05-28 23:08] draganilievski commented on #557
Hi, i am interested.

[2020-05-28 23:46] OnomeOkuma commented on #557
Hi, I am interested

[2020-05-28 23:53] FelipeAdorno commented on #557
I'm interested too :)

[2020-05-29 00:02] RobbieJVMW commented on #557
I’m interested

[2020-05-29 02:13] darshan-elsevier commented on #557
I am interested in maintaining and/or volunteering in the project. Lemme know how/when

[2020-05-29 02:18] metamorphiccode commented on #557
hello , i am interest in

[2020-05-29 03:57] ask4gilles commented on #557
Hi there @maciejwalkowiak @spencergibb ,
Could be fun, I’m in too!

[2020-05-29 06:06] witusx93 commented on #557
I’d like to try in open source

[2020-05-29 06:53] adilfulara commented on #557
I would like to help too

[2020-05-29 07:35] fegm22 commented on #557
Hi! I would love to help :)

[2020-05-29 07:57] dayanfcosta commented on #557
I'd love to help maintaining this project. :-)

[2020-05-29 07:58] sferrazjr commented on #557
I'm interested too :)

[2020-05-29 08:17] skapil commented on #557
Hi, I would love to help!!

[2020-05-29 08:47] jabrena commented on #557
I would like to help :)

[2020-05-29 09:48] sombhattacharyya1983 commented on #557
I would love to help in any capacity. Is there any getting started with documentation/etiquette ? Please let know what should I do to go forward.

[2020-05-29 10:14] alokkulkarni commented on #557
hi I am interested in joining

[2020-05-29 10:14] alokkulkarni commented on #557
please do let me know how to go forward?

[2020-05-29 10:45] r-kgy commented on #557
Hi, I would love to help also!!

[2020-05-29 11:07] trilokkatni commented on #557
I'm interested

[2020-05-29 11:50] karmanov commented on #557
Hi, I would more than happy to help with this project.

[2020-05-29 13:09] BartoszCoyote commented on #557
I would like to help :)

[2020-05-29 16:52] maciejwalkowiak commented on #414
I'm sorry it took so long to get an answer. Could you provide more details on your problem? Ideally sample code with the bug reproduced.

[2020-05-29 18:38] alibenmessaoud commented on #557
Hi, I would love to help also!

[2020-05-29 18:39] siviwes commented on #557
Interested to help and learn

[2020-05-29 19:00] maciejwalkowiak commented on #546
Is application deployed with Cloud Formation? What value for `cloud.aws.stack.auto` property do you set? It would be great if you could post complete example together with your dependencies and `application.properties` file.

[2020-05-29 19:21] kappaj2 commented on #557
Willing to learn and eager to help where / when I can.
Doing Spring development outside of AWS, AWS Lambda's and SpringBoot apps on AWS.

[2020-05-29 19:25] maciejwalkowiak commented on #482
Dependencies will be updated independently from AWS SDK v2 migration. At the time being if you're using Maven you can overwrite versions by adding AWS SDK v1 BOM to your dependencies management - you only have to make sure that it's declared first, before Spring Cloud Dependencies BOM.

[code]

[2020-05-29 19:41] maciejwalkowiak commented on #120
I agree with @kennyk65. Spring Cloud AWS should follow same chain as `DefaultAwsRegionProviderChain` for region resolution.

It's a breaking change so it will not end up in `2.2.x` but rather `2.3`.

[2020-05-29 19:56] maciejwalkowiak commented on #556
Thanks @giova333. Indeed it's just a log message triggered during `@ConditionalOnAwsCloudEnvironment` evaluation. This can be solved by modifying `AwsCloudEnvironmentCheckUtils#isRunningOnCloudEnvironment()` to call `com.amazonaws.regions.Regions#getCurrentRegion()` instead - if region is returned means it runs in cloud, otherwise null and as far as I can see the exception will not be logged.

[2020-05-29 20:42] maciejwalkowiak commented on #539
Indeed the result of the delete message is ignored. We should at least log an error when it happens.

https://github.com/spring-cloud/spring-cloud-aws/blob/5ac4cdbf7b98a032ba7205d2c5d6054b6e0ca604/spring-cloud-aws-messaging/src/main/java/org/springframework/cloud/aws/messaging/listener/SimpleMessageListenerContainer.java#L446-L449

[2020-05-29 20:46] maciejwalkowiak commented on #538
Thanks @aavileli for reporting.

As a temporary workaround take a look please at: https://github.com/spring-cloud/spring-cloud-aws/issues/482#issuecomment-636145974

I am closing this one as a duplicate of #482 as the underlying problem is the same.

[2020-05-29 20:46] #538 closed

[2020-05-29 20:51] maciejwalkowiak commented on #537
Thanks @larchanjo for reporting. Would you like to contribute a fix to documentation?

[2020-05-29 20:54] larchanjo commented on #537
Hi, @maciejwalkowiak I would like, but I don't know where is the documentation repo, can you help me?

[2020-05-29 20:59] maciejwalkowiak commented on #535
Kebab case properties in metadata are autogenerated from `@ConfigurationProperties` classes. The actual issue is that in few places like `ContextCredentialsAutoConfiguration` access key and secret key are retrieved directly from `Environment` rather than through `@ConfigurationProperties`.

[2020-05-29 21:01] maciejwalkowiak commented on #534
I second @dmile. At the current stage the right way to set access key and secret key is through camel case version (despite IDE autocompletion suggesting the other way).

Closing as a duplicate of https://github.com/spring-cloud/spring-cloud-aws/issues/535 but this will be fixed for sure.

[2020-05-29 21:01] #534 closed

[2020-05-29 21:06] maciejwalkowiak commented on #533
Thanks @dmile for providing a workaround. I think in the future we should use `ObjectMapper` provided by Spring Boot by default, and let user opt-out from it if custom `ObjectMapper` configuration, specific for SQS is needed.

[2020-05-29 21:11] maciejwalkowiak commented on #531
Spring Cloud AWS by default assumes application runs within Cloud Formation stack. If your application does not you should set `cloud.aws.stack.auto` to `false`.

We will reconsider the defaults.

[2020-05-29 21:12] #531 closed

[2020-05-29 21:16] metamorphiccode commented on #557
Hello , i am in too

[2020-05-29 21:29] maciejwalkowiak commented on #520
Indeed it's a duplicate of #267. You should be able to use SDK v1 and v2 in the same project.

[2020-05-29 21:29] #520 closed

[2020-05-29 21:33] maciejwalkowiak commented on #518
Thanks @AlchemyMark for analysis. I believe Spring Cloud AWS should not choose and configure connection pool. Rather, user should be able to use connection pool of their choice like it's done with typical Spring Boot datasource configuration.

[2020-05-29 21:44] maciejwalkowiak commented on #514
This behaviour is defined in Spring Messaging which is a part of Spring Framework. We are not able to amend it in Spring Cloud AWS as far as I can tell.

[2020-05-29 21:45] #514 closed

[2020-05-29 21:52] maciejwalkowiak commented on #508
Thanks for reporting. It has been mentioned few times already. Closing as a duplicate of #503.

[2020-05-29 21:52] #508 closed

[2020-05-29 21:53] maciejwalkowiak commented on #549
Thanks @kingbbode for reporting and providing PR. I am closing this one as a duplicate of #503 and will go through your PR in upcoming days.

[2020-05-29 21:53] #549 closed

[2020-05-29 21:59] maciejwalkowiak commented on #504
`waitTimeOut` should be configurable via properties so that it's easier to provide profile-specific configuration.

[2020-05-29 22:01] #500 closed

[2020-05-29 22:04] maciejwalkowiak commented on #496
I am not able to reproduce it using 2.2.1 version. Could you please provide complete sample as a github repository that reproduces this issue?

[2020-05-29 22:12] maciejwalkowiak commented on #423
Exception is logged by AWS SDK - we cannot change it easily - you can perhaps configure Logback to exclude this particular exception message from logs. We need to change approach to Cloud environment detection. Possible solution I commented in https://github.com/spring-cloud/spring-cloud-aws/issues/556. I am closing this one as a duplicate of #556 as it touches the same problem.

[2020-05-29 22:12] #423 closed

[2020-05-29 22:18] maciejwalkowiak commented on #537
Sure! It's in this very github repository: https://github.com/spring-cloud/spring-cloud-aws/blob/master/docs/src/main/asciidoc/spring-cloud-aws.adoc

[2020-05-29 22:25] maciejwalkowiak commented on #470
Ability to use `DefaultAWSCredentialsProviderChain` as added in #170 but I agree documentation is not clear.

[2020-05-29 22:26] maciejwalkowiak commented on #119
Kinesis support has been implemented in Spring Cloud Stream project: https://github.com/spring-cloud/spring-cloud-stream-binder-aws-kinesis

[2020-05-29 22:26] #119 closed

[2020-05-29 22:34] maciejwalkowiak commented on #223
Closing as a duplicate of #539

[2020-05-29 22:34] #223 closed

[2020-05-29 23:12] maciejwalkowiak commented on #346
This issue is not present anymore when using `2.2.1` version.

[2020-05-29 23:12] #346 closed

[2020-05-30 08:16] HansOspina commented on #557
I am interested

[2020-05-30 15:46] larchanjo commented on #537
@maciejwalkowiak Thank you soo much, the PR is #558

[2020-05-30 18:31] giova333 commented on #556
@maciejwalkowiak I don't think we will be able to manage that on our side.
EC2 metadata service is the recommended way to identify whether an application is running on AWS environment.  Of course, we can call this service without using `EC2MetadataUtils` and this will solve the problem in this particular case but not everywhere.

Aws sdk uses `DefaultAwsRegionProviderChain` as default class for re

[2020-05-30 19:32] suniltamoli commented on #506
@Async provide control to worker thread and return to main thread pool that is why it delete the message from sqs while worker thread throw exception during code processing . when you do not use @Async then main thread complete the work and the delete the message as per define deletion policy deletionPolicy = SqsMessageDeletionPolicy.ON_SUCCESS

[2020-05-30 20:38] jcvillalta03 commented on #557
I am interested!

[2020-05-30 22:41] maciejwalkowiak commented on #537
Thanks @larchanjo. Merged in #558 😄

[2020-05-30 22:41] #537 closed

[2020-05-30 23:20] maciejwalkowiak commented on #359
Fixed in #382

[2020-05-30 23:20] #359 closed

[2020-05-30 23:24] #503 closed

[2020-05-30 23:39] #355 closed

[2020-05-31 00:26] #406 closed

[2020-05-31 01:05] #389 closed

[2020-05-31 02:08] maciejwalkowiak commented on #535
Fixed in e805878a9268f721c2593a868877895098c39304

[2020-05-31 02:08] #535 closed

[2020-05-31 06:21] giova333 commented on #554
I think that this pr should fix the issue https://github.com/spring-cloud/spring-cloud-aws/pull/466/commits/3336c98179c1d7a5d49cbb71af136e6374c8cfaa

[2020-05-31 08:30] #349 closed

[2020-05-31 08:55] giova333 commented on #553
@maciejwalkowiak this pr should fix the problem https://github.com/spring-cloud/spring-cloud-aws/pull/559

[2020-05-31 09:35] tmnuwan12 commented on #519
How do we take on fixing bugs. Some one get assigned to work on it..?

[2020-05-31 09:40] tmnuwan12 commented on #271
@maciejwalkowiak Is this enhancement still required..?

[2020-05-31 09:41] maciejwalkowiak commented on #519
I'll go through all the issues again in upcoming day(s) and mark ones that can be picked up with "help wanted". There is also some contributor guidelines needed as not everything is obvious - like for example not breaking backward compatibility for 2.2.x branch. If you would like to fix this one it would be great 👍

[2020-05-31 09:47] tmnuwan12 commented on #557
I am interested.

[2020-05-31 09:51] maciejwalkowiak commented on #478
SQS integration will be heavily revisited in 3.0 and will come with hopefully satisfying amount of documentation.

[2020-05-31 09:51] #478 closed

[2020-05-31 09:52] tmnuwan12 commented on #519
Yes I will fix this one. Waiting for further instruction from @maciejwalkowiak

[2020-05-31 09:59] maciejwalkowiak commented on #278
Spring Cloud AWS supports only regions supported by AWS SDK. If there is a newer AWS SDK version available than one configured by Spring Cloud AWS it's possible to overwrite version by importing AWS SDK bom. Documentation on how to do it will come together with #482

[2020-05-31 09:59] #278 closed

[2020-05-31 10:16] maciejwalkowiak commented on #519
@tmnuwan12 I went through issues. Check ones with "help wanted" label: https://github.com/spring-cloud/spring-cloud-aws/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22

[2020-05-31 10:52] #120 closed

[2020-05-31 10:52] #553 closed

[2020-05-31 12:17] tmnuwan12 commented on #519
@maciejwalkowiak is there any ci pipeline I can use to test my changes or we have to use our aws credentials when running integration tests..?

[2020-05-31 12:20] maciejwalkowiak commented on #519
Once you create pull request there will be a build executed against your branch. It won't execute tests connecting to AWS though. I think there is a space for improvement there but I'm not sure yet how to tackle it.

[2020-05-31 12:27] #509 closed

[2020-05-31 12:27] #527 closed

[2020-05-31 12:56] #556 closed

[2020-05-31 12:59] #519 closed

[2020-05-31 16:13] balaaagi commented on #339
@maciejwalkowiak - how we can handle it when running locally?

[2020-05-31 17:26] giova333 commented on #483
@maciejwalkowiak can I pick this one?

[2020-05-31 17:41] maciejwalkowiak commented on #483
Would be great!

[2020-05-31 17:43] maciejwalkowiak commented on #339
When running locally I would recommend providing value for static region.

[2020-05-31 17:55] karmanov commented on #539
hi @maciejwalkowiak, can I take this one?

[2020-05-31 18:09] maciejwalkowiak commented on #539
@karmanov go for it 👍

[2020-05-31 18:24] maciejwalkowiak commented on #477
Can we rephrase this issue into: Add option to set static region in Parameter Store integration?

[2020-05-31 20:31] maciejwalkowiak commented on #304
Issue is not present in current version.

[2020-05-31 20:31] #304 closed

[2020-05-31 20:34] #482 closed

[2020-05-31 20:36] maciejwalkowiak commented on #546
Please comment if problem still occurs.

[2020-05-31 20:36] #546 closed

[2020-05-31 21:11] maciejwalkowiak commented on #361
@tmnuwan12 go for it. Just keep in mind that whatever we do here should stay backward compatible.

[2020-06-01 08:13] giova333 commented on #483
Pr is created https://github.com/spring-cloud/spring-cloud-aws/pull/562

[2020-06-01 11:44] #483 closed

[2020-06-01 12:02] tmnuwan12 commented on #361
Can you assign it to me.. But I need some time with this if that's ok. I have some office stuff to clear out  this week.

[2020-06-01 12:21] tmnuwan12 commented on #557
Not sure this is the correct place but I would like some CI Pipeline for integration tests. So that we can run before the PR merge.

[2020-06-01 12:26] maciejwalkowiak commented on #557
Integration tests fail to run at this stage even when I execute them locally. If we run it for PRs we would need to get some credits from AWS as it can get expensive.

At this stage I'd like to get regular tests running for PRs.

[2020-06-01 12:28] tmnuwan12 commented on #361
For bug fixes do we need to branch off from master or 2.2.x branch..?

[2020-06-01 12:38] maciejwalkowiak commented on #361
Good question! Ideally from 2.2.x

[2020-06-01 14:06] giova333 commented on #339
@maciejwalkowiak Can I check this one?

[2020-06-01 14:08] maciejwalkowiak commented on #339
@giova333 would be great!

[2020-06-01 14:16] tmnuwan12 commented on #361
I checked the code for SimpleStorageResource. From what I understand from the requirement is ability to specify "s3://" endpoint when creating SimpleStorageResource and return
 "s3://" compliant URL by calling method getURL().. Before I change anything want to check the approach here.. I was thinking of add/modify constructor to accommodate a URL object or url string and return a compatible URL ba

[2020-06-01 15:03] jarc0der commented on #295
Let me guys discover this one
@maciejwalkowiak

[2020-06-01 19:32] n00bi14 commented on #542
Hi @kilink ,
i have encapsulated the logic into a builder class.
Would this commit solve your problem?

https://github.com/spring-cloud/spring-cloud-aws/commit/eb08f5fdc870c18ea2922c8f1b83a6478a4e73a9

[2020-06-01 19:48] adannunez commented on #496
Running into the same issue. Just adding some more info that might be help troubleshoot.

I'm seeing the issue arise when `beanFactory.isSingleton("stackResourceRegistryFactoryBean")` is called and `StackResourceRegistryFactoryBean` is null due to the bean registration from the original post. In my case, the `isSingleton()` call is being made from a `BeanPostProcessor` provided by Axon.

Not sure

[2020-06-01 22:09] maciejwalkowiak commented on #496
I think @reypader suggestion is valid:

`@ConditionalOnProperty("cloud.aws.stack.name")` and `@ConditionalOnProperty("cloud.aws.stack.auto")` with `havingValue=true` and `matchIfMissing=true` should do the job. PRs welcome!

[2020-06-02 01:17] tmnuwan12 commented on #361
@maciejwalkowiak

[2020-06-02 07:23] renanreismartins commented on #385
@darylrobbins good idea. @marcingrzejszczak could I take this one?

[2020-06-02 08:13] maciejwalkowiak commented on #361
I think it it should be possible to obtain s3:// and https:// no matter how what parameters were passed to the constructor. What do you think?

[2020-06-02 08:14] maciejwalkowiak commented on #385
@renanreismartins go for it!

[2020-06-02 10:19] maciejwalkowiak commented on #557
It's great to see so many people interested! I started going through issues and PRs closing ones that are not relevant anymore and merging low handing fruits. Roadmap for 3.0 and potentially 2.3 is still shaping. At this stage I would like us to fix all bugs and add non-breaking enhancements to 2.2.x. Take a look please at issues with "Help Wanted" label and see in comments if someone has not yet

[2020-06-02 12:36] maciejwalkowiak commented on #295
Go for it @jarc0der !

[2020-06-02 14:54] huehnerlady commented on #504
@maciejwalkowiak `waitTimeOut` is configurable in the `SimpleMessageListenerContainerFactory`.

But we need `queueStopTimeout` to be exposed as well - or have the mechanism that it uses the `waitTimeout`.

[2020-06-02 14:55] maciejwalkowiak commented on #504
I need some time to dig through SQS related issues. You are welcome to contribute PR but I'm not able at this point to guide you.

[2020-06-02 14:57] huehnerlady commented on #523
@massivespace you can achive this by autowiring the SimpleMessageListenerContainer and then use the `stop` method.
At least this worked for me :)

[2020-06-02 15:01] huehnerlady commented on #459
Is there any update on this? WE are very interested in this as well

[2020-06-02 15:21] maciejwalkowiak commented on #459
SQS integration design will be revisited for 3.0. There are so many issues with current implementation that it needs solid amount of work to get it straight.

[2020-06-02 15:34] huehnerlady commented on #459
@maciejwalkowiak is there an estimate somewhere for the 3.0 release?

[2020-06-02 16:50] maciejwalkowiak commented on #471
SQS itself does not allow filtering messages based on group id, we can't do much about it.

[2020-06-02 16:50] #471 closed

[2020-06-02 16:51] maciejwalkowiak commented on #469
It's currently not possible. You have to write dispatch logic by yourself inside method annotated with `@SqsListener`.

[2020-06-02 16:51] #469 closed

[2020-06-02 16:58] maciejwalkowiak commented on #418
MessageAttributes are accessible through `@Header` annotation:

[code]

[2020-06-02 16:58] #418 closed

[2020-06-02 17:09] maciejwalkowiak commented on #271
Since the underlying bug in AWS SDK has been fixed I think there is nothing to do on Spring Cloud AWS side. If you find some ideas for improvements please open new issue.

[2020-06-02 17:09] #271 closed

[2020-06-02 17:37] osi commented on #361
agreed @maciejwalkowiak

[2020-06-03 06:26] tmnuwan12 commented on #361
@osi @maciejwalkowiak Yes I agree. What do you think about getURI() implementation for SimpleStorageResource class that provides the "s3://" URI.

[2020-06-03 09:49] #394 closed

[2020-06-03 13:07] maciejwalkowiak commented on #506
As @suniltamoli described. I could not reproduce your issue, if you're still facing it please create example that reproduces the problem and I am happy to take a look.

[2020-06-03 13:07] #506 closed

[2020-06-03 13:54] bsamartins commented on #557
🙋‍♂️

[2020-06-03 22:06] maciejwalkowiak commented on #472
@anthofo thanks for reporting an issue and PR. Since it stays backward compatible we can merge it now to branch 2.2.x but i am wondering if it would make sense to support an example you provided out of the box:

[code]

[2020-06-03 22:23] #472 closed

[2020-06-03 23:25] maciejwalkowiak commented on #528
@cbriarnold-gmail if I understood your issue right I think #564 should fix the problem. Can you take a look?

[2020-06-04 03:18] kilink commented on #542
Something like this could work, although I don't see a method for setting a TaskDecorator on your TaskExecutorBuilder. More importantly though I do not think in its current form it will solve the issue, as there's still the bootstrapping problem that SimpleMessageListenerContainer must be initialized before spinningThreads can be correctly calculated. Perhaps building the ThreadPoolTaskExecutor as

[2020-06-04 09:37] maciejwalkowiak commented on #348
I am not able to reproduce this bug with Spring Boot 2.3 and Spring Cloud AWS 2.2.2.

If you are still facing this issue please comment ideally with a link to github repo that reproduces the bug.

[2020-06-04 09:39] maciejwalkowiak commented on #55
Thank you @noomkram for reporting. It's been a while. We have now autoconfiguration for SES (`MailSenderAutoConfiguration`) and there is no plan to invest anymore into `@EnableXXX` configuration.

[2020-06-04 09:39] #55 closed

[2020-06-04 12:02] maciejwalkowiak commented on #555
Do you mean exception thrown inside `@SqsListener` annotated method? Are you able to turn on logging to see what kind of requests are issued?

[2020-06-04 12:40] renanreismartins commented on #385
Hi @darylrobbins, ec2 provides many metadata informations. Should we make it customisable through properties?
Something like: cloud.aws.ec2.metrics.metadata=hostname,instance-id

Any suggestions of how to handle hierarchical metadata like network/interfaces/macs?

@maciejwalkowiak what would be the best place to put the MeterRegistryCustomizer?

[2020-06-04 13:29] maciejwalkowiak commented on #511
Tell me I got it right - the issue is that configuration provided for bootstrap phase is not present in Boot's autoconfiguration report?

If that's the case it's not an issue in Spring Cloud AWS but rather in Boot or Spring Cloud Commons.

[2020-06-04 13:32] maciejwalkowiak commented on #494
I believe Spring Cloud AWS should stay consistent in this regard with other Cloud Config related implementations - this would mean that everything stays as it is and if needed workaround you provided can be used. What do you think @eddumelendez? How this is solved in Spring Cloud GCP?

[2020-06-04 13:43] netbuilder-it commented on #555
Yes I mean exactly an exception in the @SqsListener annotated method.
Unfortunately we have problems or "rate exceeded limit" on CloudWatch and we can't raise the log level... for now we have simply placed a sleep in our code when an exception occurs, to alleviate the issue..

[2020-06-04 14:00] maciejwalkowiak commented on #555
Assuming you don't have any specific exception handler for this type of exception, Spring Cloud AWS behaviour is to apply deletion policy when error occurs. If Spring Cloud AWS is meant to delete the message it executes `deleteMessageAsync` using `AmazonSQSAsync` from AWS SDK. This call can be retried by the SDK itself if it fails but I don't see a place where Spring Cloud AWS itself could trigger

[2020-06-04 14:00] #555 closed

[2020-06-04 14:18] maciejwalkowiak commented on #385
This would have to go to `autoconfigure` module I believe.

[2020-06-04 14:39] maciejwalkowiak commented on #511
Thanks. Then it looks indeed like a Spring Cloud issue. Perhaps @spencergibb wants.to take a look at it. I'm closing it here as we can't do much in a scope of Spring Cloud AWS

[2020-06-04 14:39] #511 closed

[2020-06-04 15:06] maciejwalkowiak commented on #540
Thanks for reporting. We will fix it by either injecting existing `ObjectMapper` or creating one without using builder from `org.springframework.http` package.

[2020-06-04 15:11] maciejwalkowiak commented on #10
More details about this topic: https://docs.aws.amazon.com/AmazonS3/latest/dev/AuthUsingTempSessionTokenJava.html

[2020-06-04 15:13] maciejwalkowiak commented on #210
Thank you for reporting. We do not recommend anymore XML (docs will be updated) and it's possible to use custom MessageConverters in Java config.

[2020-06-04 15:23] eddumelendez commented on #494
I think `AWS Parameter Store` is similar to `Runtime Config` in GCP but there is no similar implementation there regarding to feature request. Otherwise `Secret Manager` has the prefix `sm://` to revolve this properties key.

I have been also thinking about it the first time I saw this implementation but also found that make sense in favor of being explicit about where things are. Of course, the t

[2020-06-04 18:48] maciejwalkowiak commented on #101
Thanks @demboos for providing example.

[2020-06-04 18:48] #101 closed

[2020-06-04 18:51] maciejwalkowiak commented on #78
JMS abstraction for SQS is not related to Spring Cloud AWS. Example provided by @alainsahli does the job with Spring Cloud AWS.

[2020-06-04 18:51] #78 closed

[2020-06-04 19:04] maciejwalkowiak commented on #108
👍

[2020-06-04 19:04] #108 closed

[2020-06-06 08:35] maciejwalkowiak commented on #493
Agreed credentials provider should be easily replaceable with user provided bean.

[2020-06-06 08:36] maciejwalkowiak commented on #487
Just to make sure - this problem occurs when using `@EnableRds` but not when using autoconfiguration, correct?

[2020-06-06 08:42] maciejwalkowiak commented on #409
Thanks @darkknightawakens. Indeed the issue comes from having CloudFormation support turned on. From 2.3 it will be off by default.

[2020-06-06 08:42] #409 closed

[2020-06-06 08:51] maciejwalkowiak commented on #373
I'll double check but I think this issue has been already fixed.

[2020-06-06 09:49] giova333 commented on #339
Finally, I managed to check this issue :)
Since the thrown exception is `IllegalStateException`, I think it's a bad practice to analyze such generic exception in `FailureAnalyzer`. It'd great to create a dedicated exception `RegionNotFoundException` or something like that, and use it in all `RegionProvider` implementation when unable to retrieve the region. And for different `RegionProvider` imple

[2020-06-06 13:51] voytech commented on #296
Can I look at this one?

[2020-06-06 13:56] maciejwalkowiak commented on #296
@voytech go for it!

[2020-06-06 14:45] tmnuwan12 commented on #361
@maciejwalkowiak  I am getting some compilation errors when running  maven tests ( but in Intellij editor no compilation errors). Is this something known issue or am I missing something..?

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.8.0:testCompile (default-testCompile) on project spring-cloud-aws-core: Compilation failure: Compilation failure:
[21,17] package

[2020-06-06 15:59] spencergibb commented on #557
Thanks, everyone for volunteering! I'm super impressed by the show of support. For the immediate near term, we have added @eddumelendez alongside @maciejwalkowiak as a maintainer. Our measure going forward will be showing sustained involvement in fixing bugs, enhancements, PR reviews, etc... Maciej has already created a list of "help wanted" issues. That would be a good starting point.

[2020-06-06 18:48] maciejwalkowiak commented on #361
@tmnuwan12 I explained reasons for compilation failure here https://github.com/spring-cloud/spring-cloud-aws/pull/565#pullrequestreview-425760511. Lets continue discussion in the pull request.

[2020-06-06 19:00] maciejwalkowiak opened #566 "Migrate to JUnit 5"
Spring Boot dropped automatic support for JUnit 4 (https://github.com/spring-projects/spring-boot/commit/8fb7a6cace5caeeb0c7177bc3acd3915e24e7648). We should also move to JUnit 5 as it is currently a de facto standard for testing Java code.

[2020-06-06 19:42] maciejwalkowiak commented on #339
I like this idea. What if we make this new exception type extend `IllegalStateException`. In such case it would not be breaking anymore, right?

[2020-06-06 19:45] maciejwalkowiak opened #567 "Drop XML Configuration support"
Currently Spring Cloud AWS supports 3 ways to configure AWS integrations:

- XML config
- Java config `@EnableX` annotations
- Spring Boot auto-configuration

Spring Boot has become a de facto standard for developing Spring applications and as much as it's nice to support all possible configuration options providing support for all of them is very time consuming.

We should drop XML support and up

[2020-06-06 19:50] maciejwalkowiak commented on #493
Closing as a duplicate of #102

[2020-06-06 19:50] #493 closed

[2020-06-06 19:54] maciejwalkowiak opened #568 "Use default AWS SDK credentials and region providers by default"
Configuring credentials and region currently causes a lot of confusion (#102, #470). Spring Cloud AWS should use `DefaultAWSCredentialsProviderChain` and `DefaultAwsRegionProviderChain` by default and fall back to old mode only if properties `cloud.aws.credentials.use-default-aws-credentials-chain` and `cloud.aws.region.use-default-aws-region-chain` are set to `false`.

[2020-06-06 20:56] #470 closed

[2020-06-06 22:19] #402 closed

[2020-06-06 22:35] maciejwalkowiak commented on #554
I am wondering if there is any reason why we shouldn't allow `/` as profile separator in both Secrets Manager and Parameter Store integrations.

[2020-06-06 22:45] maciejwalkowiak opened #570 "Enable endpoint customization for each integration"
Each AWS integration should provide a way to specify custom endpoint url via `application.properties`. For example:

[code]

This would allow to set easily services to use Localstack (#333) for testing or VPC endpoints (#152) in production.

[2020-06-06 22:47] maciejwalkowiak commented on #333
Thanks for reporting. Support for custom endpoints will be added in 2.3. This issue get superseeded by #570.

[2020-06-06 22:47] #333 closed

[2020-06-06 22:48] maciejwalkowiak commented on #152
Thanks for reporting. Support for custom endpoints will be added in 2.3. This issue is superseeded by #570.

[2020-06-06 22:48] #152 closed

[2020-06-06 22:54] maciejwalkowiak commented on #515
@tvrmsmith just so that I understand it correctly - these additional secrets would contains raw values and everything after prefix (`/secret/`) would he a property name?

[2020-06-06 23:01] maciejwalkowiak opened #571 "Remove spring-cloud-aws-actuator module"
The only thing that spring-cloud-aws-actuator module does is import dependency to `micrometer-registry-cloudwatch`. We could simply drop this Maven module and keep auto-configuration as it is in `autoconfigure` module. Then update reference documentation on how to set up CloudWatch.

[2020-06-06 23:20] maciejwalkowiak commented on #528
This issue has been fixed in Spring Cloud Commons project and is not present anymore when used with Spring Boot 2.3

[2020-06-06 23:20] #528 closed

[2020-06-06 23:26] maciejwalkowiak commented on #373
Fixed in 9dcdd535c59127273f208964f04e4441fc5cf1aa

[2020-06-06 23:26] #373 closed

[2020-06-06 23:37] maciejwalkowiak commented on #489
@kzwang may you check if changes proposed in https://github.com/spring-cloud/spring-cloud-aws/issues/495 would solve your problem?

[2020-06-07 05:20] giova333 commented on #339
That was my first thought but unfortunately, different region providers throw different exceptions:
`Ec2MetadataRegionProvider ` -> `IllegalStateException`
`StaticRegionProvider ` -> `IllegalArgumentException`
`DefaultAwsRegionProviderChainDelegate` -> propagates `SdkClientException`

[2020-06-07 08:58] Isabek commented on #461
Hey @maciejwalkowiak. I would like to check it. Could you assign it to me?

[2020-06-07 09:30] maciejwalkowiak commented on #461
I'm not sure if this is needed since @SqsListener takes visibility parameter. Perhaps it's just a need to update documentation

[2020-06-07 09:34] Isabek commented on #461
Ok, then. Thanks.

[2020-06-07 10:09] renanreismartins commented on #299
@maciejwalkowiak RDS was one the biggest motivations I landed on this project. Could I take this one?

[2020-06-07 10:11] maciejwalkowiak commented on #299
Yes although keep in mind we will likely drop @Enable annotations in 2.3. this will be only a part of 2.2.3 release and then there is a plan to focus efforts only on autoconfiguration

[2020-06-07 10:23] renanreismartins commented on #299
Shouldn't it be rejected due the roadmap then?

And with that in mind, how will be the maxNumberOfRetries configured?

[2020-06-07 14:20] renanreismartins commented on #299
@maciejwalkowiak another point would be to not introduce another configuration option that will disappear in the future. Let me know what you think.

[2020-06-07 16:19] eddumelendez commented on #515
I think [this link](https://aws.amazon.com/blogs/security/rotate-amazon-rds-database-credentials-automatically-with-aws-secrets-manager/) can be useful to understand the proposal. @tvrmsmith is what you meant?

[2020-06-07 16:46] rieckpil opened #572 "Introduce Testcontainers & LocalStack to run integration"
**Is your feature request related to a problem?**

- Running the current integration tests requires spawning resources in AWS
- The setup for this requires some manual effort (see [README](https://github.com/spring-cloud/spring-cloud-aws/blob/master/README.adoc))
-  Spring Cloud AWS does not execute the integration tests by default

**Describe the solution you'd like**

With the help of [Testconta

[2020-06-07 16:51] rieckpil commented on #572
I could start working on a first POC and maybe convert a first _old_ integration test to this _new_ setup.

Some questions I would have for this:

- Should we still put them in a own Maven module `spring-cloud-aws-integration-test` package or make them part of each specific module (e.g. SQS integration tests inside the messaging module)
- In regards to https://github.com/spring-cloud/spring-cloud-

[2020-06-07 18:09] Isabek commented on #314
@maciejwalkowiak I would like to work on this issue. Could you assign it to me? Also, could you write a small description? Thanks.

[2020-06-07 19:10] maciejwalkowiak commented on #572
Thanks @rieckpil for taking care of it! I believe there will be a still small number of tests that will have to touch real AWS environment - I would keep them in in `spring-cloud-aws-integration-test` module. The rest as you suggested - SQS integration tests go to messaging module.

Let's write new tests in JUnit 5 only double check please that both are executed by surefire plugin.

[2020-06-07 19:16] maciejwalkowiak commented on #314
@Isabek the goal is to provide functionality from `org.springframework.cloud.aws.messaging.endpoint` to WebFlux in the same way it is currently provided for Spring WebMVC. The functionality is described at https://cloud.spring.io/spring-cloud-aws/reference/html/#annotation-driven-http-notification-endpoint

[2020-06-07 19:19] maciejwalkowiak commented on #515
In case of RDS password I would like us to use this library in 3.0 https://github.com/aws/aws-secretsmanager-jdbc. I have it working in the prototype (... and made video about it how to use this library ;-) https://www.youtube.com/watch?v=gIbr6-AR6T8)

[2020-06-07 19:19] Isabek commented on #314
@maciejwalkowiak ok, please, assign it to me.

[2020-06-07 19:26] maciejwalkowiak commented on #299
Thanks @renanreismartins for feedback. You are right, we should not introduce new things just to kill them in the next version.

I will post an issue with a proposal on how I see RDS integration in 3.0.

[2020-06-07 19:26] #299 closed

[2020-06-07 19:46] maciejwalkowiak opened #573 "Disable CloudFormation support by default"
CloudFormation is one of many ways to provision infrastructure on AWS. There are many reports from confused users who do not use CloudFormation and usually solution to their problem is turn disable `ContextStackAutoConfiguration`. To ease getting started experience and also make it simpler to use the framework for non-CloudFormation users `cloud.aws.stack.auto` should be `false` by default.

[2020-06-07 20:32] #361 closed

[2020-06-07 21:33] #496 closed

[2020-06-07 22:19] eddumelendez commented on #572
@rieckpil you can use branch `2.3.x`

[2020-06-08 07:58] maciejwalkowiak opened #576 "Drop dependency to javax.validation in Parameter Store and Secrets Manager"
Both `spring-cloud-aws-parameter-store-config` and `spring-cloud-aws-secrets-manager-config` depend on `javax.validation:validation-api` to validate `@ConfigurationProperties` classes. This extra dependency can be dropped by making these classes implement `Validator` interface.

More on how to do it: https://reflectoring.io/validate-spring-boot-configuration-parameters-at-startup/

[2020-06-08 08:30] voytech commented on #296
@maciejwalkowiak  @erikpetzold

The problem with null value in `timestamp` in MessageHeaders occurs when dispatching a message to handler. It is because there is a need of enriching existing  MessageHeaders with **lookupDestination** header. For that purpose MessageHeadersAccessor is used internally. MessageHeaderAccessors after adding new header, creates its own implementation of MessageHeaders -

[2020-06-08 09:35] voytech commented on #296
I think that more acceptable solution is first one, as long as this approach utilizes MethodArgumentResolvers, so I think we are using things the way they are designed to be used. It is not workaround (like second solution), It is just framework way of resolving arguments.

But still the question is.. Is it good to use timestamp header to hold external SentTimestamp which is timestamp the massage

[2020-06-08 09:38] vijayrcse opened #577 "Spring Cloud SQS - SQSListener becoming stale"
**Describe the bug**
I am using Spring Cloud SQS( spring-cloud-starter-aws-messaging ) in my application

My listener method is annotated as below. But i see that sometimes, the listener is becoming stale or stopped consuming messages from the SQS. I don't see any errors in the logs, and i don't know why this is happening

This is very much a problem as the messages getting queued and we end-up wi

[2020-06-08 10:17] maciejwalkowiak commented on #577
Could you turn on `WARN` log levels on `org.springframework.cloud.aws.messaging.listener` and see if there is anything logged?

[2020-06-08 11:51] maciejwalkowiak opened #578 "Add option to set static region for Parameter Store and Secrets Manager integration"
Since Parameter Store and Secrets Manager integrations are not able to respect region configuration provided in `application.properties` we should allow users to set region explicitly for both Secrets Manager and Parameter store in `bootstrap.properties` file. This can be done by simply adding `region` property to `@ConfigurationProperties` classes and respect this property when creating clients.

[2020-06-08 11:58] maciejwalkowiak commented on #474
@govindrk the prefix is `aws.secretsmanager` (you missed "s"). Once you put this property there integration will be turned off.

400 when getting accessing secret set for delete is AWS Secrets Manager behavior, not Spring Cloud AWS.

[2020-06-08 12:11] MatejNedic commented on #576
Hi, can i check this one?

[2020-06-08 12:13] maciejwalkowiak commented on #576
@MatejNedic go for it!

[2020-06-08 12:57] vijayrcse commented on #577
Hi sure, this has happened twice in last 2 months. We have to restart the process to start consuming again.
i will enable the logging and see, i couldn't reproduce in lower environment

[2020-06-08 13:35] maciejwalkowiak commented on #414
Closing due to lack of feedback. If this problem is still happening please provide more details and we will reopen it.

[2020-06-08 13:35] #414 closed

[2020-06-08 21:32] DarrenForsythe commented on #572
Regarding JUnit5, I could take a swing at moving the project over to the JUnit5 Jupiter APIs. There doesn't appear to be anything stopping it from an initial attempt. Some `ExpectedException` rules which could easily be replaced by `Assertations#assertThatCode`

[2020-06-09 06:49] rieckpil commented on #572
For me it's okay. I am not touching any existing tests and rather create a new one, so this shouldn't clash

[2020-06-09 14:30] tmnuwan12 commented on #572
It would nice if you can write some doc about it share it also. Great take away from this effort can be applied to elsewhere in other projects in the industry IMO. Just a suggestion give time constraints.

[2020-06-09 14:32] tmnuwan12 commented on #578
I will take a look. But needs some time to go through and I may ask questions :) Assign this to me.

[2020-06-09 15:14] eddumelendez commented on #573
this one can be address as part of https://github.com/spring-cloud/spring-cloud-aws/pull/582

[2020-06-09 18:53] nagrajsvec opened #586 "SimpleMessageListenerContainerFactory with WebIdentityTokenFileCredentialsProvider(sdk2.x))"
I am using  springcloud messaging for sqs with latest release
'org.springframework.cloud:spring-cloud-aws-messaging:2.2.2.RELEASE'

Sample code snippet:
--------------------------------------------------------------------------------
//auto wired
AmazonSQSAsync amazonSqs

        SimpleMessageListenerContainerFactory factory = new SimpleMessageListenerContainerFactory();
        factory.setAmazonS

[2020-06-09 21:49] bsamartins commented on #577
I've seen something similar happening. We never saw anything out of the extraordinary in the logs and never got to investigate this properly as it happened sporadically.

[2020-06-10 03:10] vijayrcse commented on #577
I have enabled WARN must don't see much in the logs. Probably when the issue happens again we may see something.
You are right it is happening sporadically.

Any other suggestions or ideas for how to investigate this problem ?

[2020-06-10 06:32] maciejwalkowiak commented on #586
Spring Cloud AWS 2.x is based on AWS SDK 1.x. We are migrating to AWS SDK 2.x in version 3.0.

[2020-06-10 08:24] maciejwalkowiak commented on #577
At the moment I can only say that we are aware that SQS listener has many issues and it is going to be rewritten in 3.0.

As a workaround you can add health listener (something similar to what's implemented here https://github.com/spring-cloud/spring-cloud-aws/pull/342) and just let whatever controls your services restart the application when listener becomes unhealthy.

[2020-06-10 08:51] DarrenForsythe opened #589 "Create a Test Compile step for Spring Cloud AWS Integration Test in Circle CI"
**Is your feature request related to a problem? Please describe.**
Currently the the `spring-cloud-aws-integration-test` module is not defined as a module in the projects root pom, and manually needs to have a the `test-compile` phase ran on it to have some confidence that there are no checkstyle issues, and no compilation errors.

**Describe the solution you'd like**
While new integration tests a

[2020-06-11 17:08] eduardo-bueno-ifood opened #590 "DeleteMessageBatch fails with 403; queue has SQS:DeleteMessage"
**Describe the bug**
When using @SqsListener, the SQSQueueBufferWorkerThread fails to delete a received message with error 403 even though the queue has the permission defined. If I delete this policy the ReceiveMessage starts to fail, which means it is correctly set up.
My app is working on minimal starter auto-configuration, is there anything I should be configuring manually? AWS region and acco

[2020-06-11 19:07] eduardo-bueno-ifood commented on #590
This is once again #102. The issue was solved after I configured an `AWSCredentialsProvider`

[2020-06-11 19:07] #590 closed

[2020-06-11 22:49] maciejwalkowiak commented on #102
Fixed in ee779018d38144d86a071ac708d48857b8328f37

[2020-06-11 22:49] #102 closed

[2020-06-11 23:10] maciejwalkowiak opened #591 "Deprecate @EnableX annotations"
Deprecate and eventually drop `@EnableX` annotations. Spring Cloud AWS has been created in pre-Spring Boot era where `@Enable` annotations was a very convenient way of configuring collection of beans in a declarative way. Since we are providing now auto-configuration for all our modules, we can drop `@Enable` annotations. It will bring following benefits:

- we can drop `Conditional` annotations p

[2020-06-11 23:12] maciejwalkowiak commented on #591
@eddumelendez your feedback is appreciated.

[2020-06-12 01:25] maciejwalkowiak commented on #420
"id" header has UUID type because of how Spring Messaging works. I am thinking if we could map "id" header from SQS message to another name, perhaps "sqs-id".

[2020-06-12 02:34] eddumelendez commented on #573
following this comment https://github.com/spring-cloud/spring-cloud-aws/pull/582#discussion_r439116322 As far as I can see, we can deprecate `spring-cloud-aws-context` in `2.3.x` and remove it `3.0.x`.

[2020-06-12 03:09] eddumelendez commented on #589
Let's see how that works against `localstack`. But, totally agree we should enable this in the CI

I think we can use profiles so by default running against `localstack` using `testcontainers` and with a profile `aws-integration` against real aws instances.

/cc @maciejwalkowiak WDYT?

[2020-06-12 07:42] #522 closed

[2020-06-12 07:42] #533 closed

[2020-06-12 07:42] #540 closed

[2020-06-12 10:01] #576 closed

[2020-06-12 12:27] maciejwalkowiak commented on #539
@karmanov do you think you will be able to implement it in foreseeable future?

[2020-06-12 14:49] jef commented on #540
nice! thanks,

[2020-06-12 15:07] maciejwalkowiak commented on #540
Using ObjectMapper provided by Spring Boot was high on my personal wishlist ;)

[2020-06-12 15:57] audirob opened #596 "AwsParamStorePropertySourceLocator gets extra contexts"
**Describe the bug**
The list of contexts is duplicated.

**Sample**
Given the following configuration:

I can see four contexts:

![Screen Shot 2020-06-12 at 5 51 36 PM](https://user-images.githubusercontent.com/61826312/84521483-5dcdc780-acd5-11ea-8cc9-9d1e3a12c44d.png)

The contexts size should be 2 instead of 4.

[2020-06-12 16:09] maciejwalkowiak commented on #596
Thanks for reporting it will be fixed in 2.2.3

[2020-06-13 16:20] DarrenForsythe commented on #589
There's a small PR that would solve this using JUnit5 Tag and an extra Maven profile that will exclude aws integration tests from running, while still compiling checkstyle etc as the module is now part of the reactor.

[2020-06-13 22:06] DarrenForsythe commented on #570
@maciejwalkowiak what would the prefered impl. of this? Given the relative complexity of how the modules are setup would it be easiest to just add new configuration properties to their relevant modules.

For example,

a new `AwsSNSProperties` class in `spring-cloud-aws-messaging` with two fields `endpoint` and `region` that would be applied to the SNS Client?

[2020-06-13 23:03] maciejwalkowiak commented on #570
@DarrenForsythe it's still under investigation. One thing is endpoint customization but it also has to play nice with ClientConfiguration customisation and ideally properties should not require changes once we move to AWS SDK v2.

Properties will be placed in autoconfigure module for sure but quite a lot of changes in case of messaging are required to make it work with messaging module.

Don't jum

[2020-06-14 22:03] karmanov commented on #539
hi @maciejwalkowiak yes, I will implement it this week.

[2020-06-15 19:15] voytech commented on #296
@maciejwalkowiak I have created pull request for this one here - https://github.com/spring-cloud/spring-cloud-aws/pull/584.  I see that there are plans to rewrite sqs integration, so not sure if this pull request is still valid.

I have also a little concern if this change should be allowed to go with ‚minor’ version change - it is enchancement which doesn’t break compile time backward compatibili

[2020-06-15 21:24] mkatircioglu commented on #383
I have tried to reproduce the bug but not succeed. Are you still encountering the problem? @rjansem @engineal

[2020-06-16 00:23] engineal commented on #383
@mkatircioglu I just tested using `org.springframework.cloud:spring-cloud-aws-jdbc:2.2.2.RELEASE` and this issue is resolved. I am able to now use parameters in the `password` and `db-instance-identifier` fields using the methods I outlined in my issue. Thank you for checking in.

[2020-06-16 00:23] #383 closed

[2020-06-16 04:58] maciejwalkowiak commented on #296
Hey @voytech! I had a quick look and I'll do deeper review this week. SQS is going to change but hopefully only internally and API remains the same. Your changes look good and if they are breaking they will just go with 2.3. But let me spend one evening with them first ;)

[2020-06-16 04:59] maciejwalkowiak commented on #383
@engineal thanks for an update!

[2020-06-16 10:57] mkatircioglu commented on #495
Hi @superdurszlak, as you can see in #383 , there is no more any problem on defining dbInstanceIdentifier and password as environment variable in @EnableRdsInstance. Under this circumstances, does it cover your issue or do you still need the your second recommendation?

[2020-06-16 11:28] superdurszlak commented on #495
@mkatircioglu thanks for following up. Annotation-based definition should be sufficient to cover our case. On the other hand, I believe re-shaping Spring Boot configuration for RDS to make it just as flexible (and on par with regular data sources) would simplify things.

[2020-06-17 15:57] mkatircioglu commented on #374
Hi @DPetrunov @youngkjun FedorRomanov . I can not reproduce the bug with spring-boot-starter-parent:2.3.1.RELEASE and spring-cloud-dependencies:Hoxton.SR5. Do you still encounter this issue?

[2020-06-17 18:17] mohit224 opened #599 "AWS Secrets for application.properties with Springboot lambda functions"
I have created a Spring boot application where I want to use AWS secrets for application.properties. I am using spring boot 2.2.6.RELEASE and as per the documentation I have added following dependencies in my pom:

[code]

From AWS Secrets Manager service I created a new secret of type "Other types of secrets" and gave it a name /secret/myservice. For testing I added a secret key as environment an

[2020-06-17 20:35] oh-isuri-bandara opened #601 "Can we use RefreshScope with SImpleMessageListener in AWS SQS ?"
When I use refresh scope for SImpleMessageListener in my project, my SQS stops from working.
So I used SimpleMessageListenerFactory which made it work but after refresh scope was done it didnot look like it picked up the new configuration changes I did. Ex : Max messages, BackoffTime.

[2020-06-17 21:10] mkatircioglu commented on #420
@maciejwalkowiak Why don't we just remove forcing UUID conversion in QueueMessageUtils?

https://github.com/spring-cloud/spring-cloud-aws/blob/ddde60b44bc09d155ce926c5d366f45008752d30/spring-cloud-aws-messaging/src/main/java/org/springframework/cloud/aws/messaging/core/QueueMessageUtils.java#L89-L92

Since while using QueueMessagingTemplate on publisher side, it is guaranteed to be UUID however it

[2020-06-18 18:13] #501 closed

[2020-06-18 20:51] #518 closed

[2020-06-18 20:51] #175 closed

[2020-06-18 22:36] #296 closed

[2020-06-19 06:43] DPetrunov commented on #374
@mkatircioglu , Please take a look at @kevinhwang's comment

[2020-06-19 09:28] maciejwalkowiak commented on #578
@tmnuwan12 are you able to tackle it in foreseeable future? We are slowly getting to finishing 2.2.3 issues.

[2020-06-19 10:05] #539 closed

[2020-06-19 10:13] maciejwalkowiak commented on #463
Lets continue discussion in #554

[2020-06-19 10:13] #463 closed

[2020-06-19 10:15] maciejwalkowiak commented on #489
Closed due to lack of feedback.

[2020-06-19 10:15] #489 closed

[2020-06-19 10:16] maciejwalkowiak commented on #477
Closed due to lack of feedback. Setting static region for Parameter Store and Secrets Manager is moved to separate issue #578

[2020-06-19 10:16] #477 closed

[2020-06-19 11:17] maciejwalkowiak commented on #248
This will be fixed in 2.3 as ElastiCache will configurable through configuration properties classes.

[2020-06-19 12:34] maciejwalkowiak opened #607 "Re-think Secrets Manager integration"
Secrets Manager integration is very opinionated and based on the reported issues I think our opinions don't match users needs.

Spring Cloud AWS Secrets Manager configuration expect secrets to follow a naming pattern:

[code]
1. Following this naming pattern is not always possible as different conventions may be used in users projects.
2. It prevents users from loading secrets stored independently

[2020-06-19 13:03] maciejwalkowiak commented on #195
2.3 will introduce following changes:

- Actuator dependency has been removed in https://github.com/spring-cloud/spring-cloud-aws/pull/604
- CloudFormation support will be disabled by default https://github.com/spring-cloud/spring-cloud-aws/issues/573

[2020-06-19 13:03] #195 closed

[2020-06-19 13:41] maciejwalkowiak commented on #548
I am not able to reproduce this issue. Unless you are changing `SimpleMessageListenerContainer#visibilityTimeout` to `0`, this should not happen. If it's still the case, please provide fully working example ideally as a github repository and I am happy to take another look.

[2020-06-19 14:02] maciejwalkowiak commented on #543
For the test purposes you can overwrite `SimpleMessageListenerContainerFactory` bean to stop immediately:

[code]

Does it answer your question?

[2020-06-19 14:03] hello-josh commented on #548
@maciejwalkowiak I moved this code into python/lambda instead. I couldn't figure it out and wasn't able to spend time on it. It seems the issue is when you have two or instances of the app running (i.e. two containers behind a load balancer). I am going to close this since I don't have code around to reproduce it any longer.

[2020-06-19 14:03] #548 closed

[2020-06-19 14:14] maciejwalkowiak commented on #548
Thanks for an update. I did test with having multiple copies of application running and still only single copy of the message was being received.

[2020-06-19 21:04] #554 closed

[2020-06-19 21:04] #512 closed

[2020-06-19 21:04] #571 closed

[2020-06-19 21:04] #526 closed

[2020-06-19 21:04] #159 closed

[2020-06-19 21:04] #248 closed

[2020-06-20 11:39] #221 closed

[2020-06-20 11:39] #374 closed

[2020-06-20 11:42] maciejwalkowiak commented on #374
@DPetrunov the issue is fixed and will be released in 2.3.

[2020-06-20 11:47] maciejwalkowiak commented on #410
@AbdulWahedHaiderzadah1217 how do you see this support should look like?

[2020-06-20 20:18] maciejwalkowiak opened #610 "RDS Enhancements Proposal"
Few ideas on how RDS integration could be improved:

RDS integration was created before Spring Boot. For user experienced with Spring Boot datasource configuration, using Spring Cloud AWS RDS integration may not be as seamless as it could be. Things that Spring Cloud AWS should provide:
- connection pool customization through autoconfiguration (like in Spring Boot) - we should not enforce Tomcat p

[2020-06-20 20:27] maciejwalkowiak commented on #610
This ⬆️  is up for discussion so if you have an idea or there is something related to RDS integration you believe we should include - your comments are very welcome!

[2020-06-21 18:44] maciejwalkowiak commented on #596
Fixed in 582fdc6691ead7904aaed176af2cf85221edacd5 by @MatejNedic (https://github.com/spring-cloud/spring-cloud-aws/pull/602)

[2020-06-21 18:44] #596 closed

[2020-06-21 20:14] #6 closed

[2020-06-22 11:06] PavelPolyakov commented on #348
@maciejwalkowiak here is a repo with the latest versions, where `s3` integration from the guide doesn't work. Unless custom resource loader is defined.

https://github.com/PP-etc/spring-boot-with-s3-example/blob/master/src/main/java/com/pavelpolyakov/s3example/S3ExampleApplication.java#L33

When it's not available, I have this exception:
[code]

[2020-06-22 11:23] maciejwalkowiak commented on #348
Thanks @PavelPolyakov! We will look into it.

[2020-06-23 11:28] raseals opened #614 "spring-cloud-aws region not found"
I have a project that I have been testing against my own AWS account that utilizes spring-cloud-aws to dequeue SQS messages. Everything works fine, as I have been testing in the us-east-2 region. However, our service is supposed to move over to AWS GovCloud region us-gov-east-1. When configuring our Docker container spring-boot service with the updated region:

cloud.aws.region.static=us-gov-east-

[2020-06-23 14:57] eddumelendez commented on #614
@raseals thanks for the report. Adding the following property `<aws-java-sdk.version>your version</aws-java-sdk.version>` in your pom file works for you?

[2020-06-23 17:11] raseals commented on #614
@eddumelendez No, that doesn't work. However, I have found a work-around, where I added a new property to my pom.xml file (just as you suggested) with a new dependency in the dependencyManagement section of the pom.xml file:

`<spring-cloud.version>Hoxton.SR5</spring-cloud.version>
<aws-java-sdk.version>1.11.792</aws-java-sdk.version>`

I also added the following section to dependencyManagement:

[2020-06-23 18:58] douglasmanzelmann commented on #497
There is a PR open to allow for individual listeners determine their max concurrency which mirrors what `spring-amqp` does. https://github.com/spring-cloud/spring-cloud-aws/pull/380

[2020-06-26 06:34] maciejwalkowiak commented on #614
Both how to use newer version of AWS SDK and how to hide these warn logs is in the docs:

- https://cloud.spring.io/spring-cloud-aws/reference/html/#amazon-sdk-dependency-version-management
- https://cloud.spring.io/spring-cloud-aws/reference/html/#amazon-sdk-configuration

Regarding classified regions, how would you use them with plain AWS SDK v1 without Spring Cloud AWS? I can see that this is p

[2020-06-26 15:07] fblanke commented on #374
@maciejwalkowiak Any idea when 2.3 will be released?

[2020-06-26 15:09] maciejwalkowiak commented on #374
I can't tell exact date as there are quite a few factors related to this release - like changing Maven coordinates - but I can tell for sure that it's not going to happen in next 2-3 weeks.

[2020-06-27 02:29] eddumelendez commented on #578
Closing in favour of #616

[2020-06-27 02:29] #578 closed

[2020-06-28 14:32] voytech commented on #410
Maybe when there is a custom data type like e.g. binary.png  - a value for header should be just wrapper like: CustomTypeMessageAttribute with fields: type: Binary, typeLabel: png, value - wrapped value like Binary type.
This way we are not loosing this header value ( current implementation would skip it). We are also not loosing info about custom type extension.

[2020-06-28 17:16] voytech commented on #420
MessageHeaders.getId already expects UUID so removing forced conversion seems hard. There is already SqsMessageHeaders class with some sqs specific headers support ( convenient getters ). Maybe adding support via sqs-id header (and getter getSqsId()) ? And Internal ‚id’ header  generated Internally at instantiation time when it is not UUID ?

[2020-06-29 13:59] voytech commented on #410
@maciejwalkowiak, @AbdulWahedHaiderzadah1217 if You are happy with solution with CustomTypeMessageAttribute wrapper then I can make it working that way...

[2020-06-29 14:47] badyag commented on #474
I was able to get a secret value using an IAM role which the secret wasn't created with.

For testing I created an EC2 machine with the IAM role attached. The role had an IAM policy with `secretsmanager:GetSecretValue` action allowed. The trickiest thing was to figure out what the `Resource` value is valid.

For example, I have a secret with this ARN: `arn:aws:secretsmanager:eu-west-1:12345678912:

[2020-06-29 16:02] BenSmith commented on #474
@badyag I ran into this problem in the past and it may be this very specific limitation in secrets manager:

If you specify an ARN, we generally recommend that you specify a complete ARN. You can specify a partial ARN too—for example, if you don’t include the final hyphen and six random characters that Secrets Manager adds at the end of the ARN when you created the secret. A partial ARN match can

[2020-06-29 16:25] ribeirux commented on #504
@huehnerlady @maciejwalkowiak any progress?

Happy to create a PR that exposes  the `queueStopTimeout` in the `SimpleMessageListenerContainerFactory` and let one configure this property.

[2020-06-29 21:43] froilan opened #618 "A way to configure Max Messages per SQS/SNS Listener."
**Is your feature request related to a problem? Please describe.**
Our applications usually have listeners that have different needs. Some needs to be have low number of batching/max messages. And some are ideal to have larger batching/max messages.

If I understand correctly, when we configure `SimpleMessageListenerContainerFactory`, that sets the config for all the listeners in the application.

[2020-06-30 10:27] vineet-rc commented on #270
@spencergibb I've a similar use-case & currently use this: https://stackoverflow.com/a/58094890/2173960. But is there no better alternative?

[2020-06-30 16:41] raseals commented on #614
@maciejwalkowiak I'm not sure how I would have used it with AWS SDK v1, as I discovered this issue when trying to use the latest Spring Cloud AWS (Hoxton.SR5) which pulls in AWS SDK v1.11.415. So, when I set my region to 'us-gov-east-1' and got "region not found" is when I discovered how the AWS SDK v1 library is trying to instantiate the Region object via the Regions.fromName value matched in enu

[2020-07-01 19:47] marcuslange opened #624 "Load rotated secrets"
**Is your feature request related to a problem? Please describe.**
I'm not sure if this is a missing feature or missing documentation. I do not see properties updated when a secret is rotated.

**Describe the solution you'd like**
Either documentation explaining how to set this up, or the feature to pull updated values and refresh the context.

**Describe alternatives you've considered**
Using my

[2020-07-02 23:29] NRosenbergLoyaltyOne opened #625 "CloudWatchExportAutoConfiguration for io.micrometer.cloudwatch2"
The current CloudWatchExportAutoConfiguration file is using io.micrometer.cloudwatch, which was deprecated in favor of io.micrometer.cloudwatch2.  if you use io.micrometer.cloudwatch2 on your project, CloudWatchExportAutoConfiguration  does not work. So far, besides building my own, I have not found any out-of-box solutions.

Could I request a CloudWatchExportAutoConfiguration for the io.micromete

[2020-07-05 16:20] tmnuwan12 commented on #578
@maciejwalkowiak didn't get time due to look at this. Sorry.

[2020-07-06 11:01] TumbleMagnet opened #626 "EC2 instance metadata and ECS Fargate"
**Describe the bug**
When running in AWS ECS Fargate, my spring boot app using spring cloud AWS is not able to get region from instance metadata. From AWS documentation, it seems that EC2 and ECS might have different metadata endpoints. Can you please clarify whether Spring Cloud AWS should be able to use ECS instance metadata or not?

Application is using Spring Cloud AWS for publishing to SNS an

[2020-07-06 20:12] maciejwalkowiak commented on #626
I am not sure if this would suit you, but I think that if you switch to use default AWS credentials chain and default region chain it should work well on ECS. In 2.2.3 there will be an ability to configure `cloud.aws.region.useDefaultAwsRegionChain`.

In current production version (2.2.2) you can configure custom region provider bean (with name `regionProvider`) with implementation like:

[code]

[2020-07-06 20:15] maciejwalkowiak commented on #625
`io.micrometer.cloudwatch2` is based on AWS SDK v2. In Spring Cloud AWS 3.0 we are moving to AWS SDK v2 which hopefully happens later this year.

[2020-07-06 20:17] maciejwalkowiak commented on #624
Hi @marcuslange, you are right. Similar to ParameterStore (#421) there is currently no support for refreshing context when values change. I am not sure yet if it makes sense to add it to current implementation or we should rather provide Spring Cloud Config integration for SSM and ParameterStore.

[2020-07-06 20:29] NRosenbergLoyaltyOne commented on #625
Thank you, glad to know it is in the works!

[2020-07-07 14:55] #504 closed

[2020-07-07 14:55] #507 closed

[2020-07-08 11:04] GeorgeTailor opened #627 "How to initialize multiple AmazonSQSAsync with different credentials?"
**Describe the bug**

I have a service which has to receive messages from one queue and write some messages to another queue.
After configuring sqs-related stuff and running the service I get the following error:
[code]

Spring cloud version:
[code]

**Sample**

First config which receives messages:
[code]
second config which sends messages:
[code]

By looking at `SqsClientConfiguration` in spring

[2020-07-08 12:04] #188 closed

[2020-07-08 20:34] millems opened #628 "Add spring-cloud-aws to user-agent for AWS metrics purposes"
**Is your feature request related to a problem? Please describe.**
We at AWS would like to know when customers are using spring-cloud-aws.

We traditionally use user-agent metrics to identify features that customers are interested in or using, so that we can identify what features we should invest resources into. For example, when a customer uses S3 transfer manager, the user agent has a special s

[2020-07-09 08:41] ptahchiev opened #629 "Support for deleting of resources"
**Is your feature request related to a problem? Please describe.**
I'm trying to delete a resource in my S3 bucket using the spring-cloud AWS API. Seems like it is impossible:
https://stackoverflow.com/questions/51304075/how-to-delete-file-from-s3-using-spring-cloud-aws

**Describe the solution you'd like**
Can you please provide support for deleting files on S3? Also APIs for setting ACL permissi

[2020-07-09 10:11] maciejwalkowiak commented on #614
You can use AWS SDK v1 and v2 in the same project as they use different package names, but at this stage Spring Cloud AWS SQSListener is not able to use v2.

This year, but no exact date unfortunately.

[2020-07-09 11:41] maciejwalkowiak commented on #628
@millems thanks for creating an issue. @eddumelendez just recently added a change that sets user agent: https://github.com/spring-cloud/spring-cloud-aws/commit/74743a581c5df92cfb17e2ff1a41ddce55f2bcef. We are going to release it with `2.2.3` which is very close to be ready.

[2020-07-09 16:00] spencergibb commented on #629
I wonder if there could be an `S3Template` type object that allows other operations since Resource is read only.

[2020-07-09 17:02] millems commented on #628
Awesome, thank you!

[2020-07-09 19:20] eddumelendez commented on #628
@millems thanks for the report! Just want to let you know that we are using the `userAgentPrefix`

[2020-07-09 20:05] millems commented on #628
@eddumelendez Would you mind using the `userAgentSuffix`? `userAgentPrefix` would override some of the other metrics that we usually include.

[2020-07-09 20:06] eddumelendez commented on #628
sure! thanks for let us know. I will make the change later today.

[2020-07-09 23:52] #628 closed

[2020-07-10 16:16] ajross commented on #167
Is this likely to be merged?  Looks like a good solution.

[2020-07-10 18:33] sushanted commented on #387
Was facing the same issue

Following 'hack' worked for me:
`@Bean
	public SimpleMessageListenerContainerFactory simpleMessageListenerContainerFactory(AmazonSQSAsync amazonSqs) {

		return new SimpleMessageListenerContainerFactory() {
			@Override
			public SimpleMessageListenerContainer createSimpleMessageListenerContainer() {
				SimpleMessageListenerContainer simpleMessageListenerContainer = new

[2020-07-13 17:32] sp00m commented on #267
Just as an FYI, this ticket blocked us going forward, so we decided to develop our own abstraction for our Spring WebFlux projects, so that we could connect to SQS from within EKS: https://github.com/qudini/qudini-reactive/tree/master/qudini-reactive-sqs. Very SQS (and WebFlux) focused obviously, and by no means intended to replace https://github.com/spring-cloud/spring-cloud-aws, but maybe it can

[2020-07-13 22:43] maciejwalkowiak commented on #267
Thanks @sp00m! We are going to move to SDK v2 in 3.0 and revisit SQS integration so we are definitely going to look at your repository for an inspiration.

[2020-07-14 22:36] #295 closed

[2020-07-16 05:30] voytech commented on #410
@maciejwalkowiak, I'd like to help with that one. IMHO its quite important to have it done, as lack of proper handling of custom data types may force people to workarounds. I could create initial PR. I think that for this one, I will have to extend documentation a bit to mention about  `CustomTypeMessageAttribute` (if decide to go in that direction). Let me know If I should/can grab this one.

[2020-07-16 05:49] maciejwalkowiak commented on #410
Go for it @voytech. I can't tell for sure now but the idea with wrapper sounds legit.

[2020-07-16 09:14] huehnerlady commented on #504
@maciejwalkowiak thank you so much for implementing this. Do you have any idea when it will be released? :)

[2020-07-16 09:19] maciejwalkowiak commented on #504
Kudos go to @mkatircioglu! I am sorry but I can't tell exactly when 2.3 will be released as it's going to be first release after Spring Cloud AWS leaves Spring Cloud release train.

[2020-07-17 16:48] juanledesma84 commented on #379
Hi @arseniiR. I would like to ask you about your suggestion, because I have a situation that I have not been able to resolve, and I don't know if it is the same. I want to implement concurrency in the SqsListeners.

I read an AWS documentation about that, but it's a bit old, so I don't know if I need to change my implementation, or if there is a way to set the concurrency attributes in the config

[2020-07-17 17:33] voytech commented on #410
After thinking a bit more, I am not sure if using `CustomTypeMessageAttribute` as value wrapper is the way to go:
1. Solution for `Number` type currently allows labels that can be resolved to Java number types. This prevents from switching to `CustomTypeMessageAttribute` (it would be breaking change then)
2. Using `CustomTypeMessageAttribute` still is possible for `Binary` and `String` (only when

[2020-07-21 09:13] elluard-doinglab opened #634 "Unsupported tag 'annotation-driven-queue-listener'"
I am willing to use spring cloud aws(2.2.2.RELEASE) on my server application

I am using Spring 4.3.8.RELEASE

When I use <aws-messaging:annotation-driven-queue-listener /> annotation like below but
Unsupported tag 'annotation-driven-queue-listener'  message is shown.
How can I solve this problem

<img width="925" src="https://user-images.githubusercontent.com/49228039/88036183-2da00100-cb7e-11ea-

[2020-07-21 14:44] mmuniz75 commented on #546
It works

[2020-07-22 15:20] aniketbhatnagar opened #635 "[SQS] Auto extend visibility timeout for long tasks"
**Is your feature request related to a problem? Please describe.**
When processing background tasks that take long and having varying time to complete, it's not efficient to set the SQS queue's visibility timeout to be very high. It would be great if the SQS poller could auto extend visibility timeout (until possible) for messages that are being processed.

**Describe the solution you'd like**
An

[2020-07-23 07:34] mikaelhg commented on #570
Since currently everyone who uses Spring Cloud AWS will currently have to choose between either not testing their code, or writing a custom solution to this problem, a quick resolution would trump a perfect resolution. Especially since as long as the parameter names stay the same, the underlying implementation can be swapped out for a better one at will.

[2020-07-23 20:57] maciejwalkowiak commented on #410
What if we go with 2. but with addition that for `Number` where custom type does not match any of the known ones we already support, we return `CustomTypeMessageAttribute`?

[2020-07-23 22:09] maciejwalkowiak commented on #379
@juanledesma84 linked article doesn't use Spring Cloud AWS but [amazon-sqs-java-messaging-lib](https://github.com/awslabs/amazon-sqs-java-messaging-lib)

[2020-07-23 22:13] maciejwalkowiak commented on #634
@elluard-doinglab in `schemaLocation` you're missing `xsd` suffix:

[code]

Ideally, do not use XML configuration as we are going to remove it in 2.3.

[2020-07-23 22:17] maciejwalkowiak commented on #629
There could be a `S3Template` but I am wondering if it would bring any benefits over using directly `AmazonS3Client`. @ptahchiev do you have some ideas?

[2020-07-24 15:56] voytech commented on #410
I think that this is ok. The only thing that i personally don't like here - is lack of consistency in that sometimes we are using CustomTypeMessageAttribute for MessageAttributes with labeled types, but there are situations for Number with labelled type where we cannot use CustomTypeMessageAttribute (number type hints for primitives e.g.).

Here is the thing:
What if someone wants to publish to SQ

[2020-07-24 16:01] voytech commented on #410
By the way - I started to think that SqsMessageHeaders should provide convenience getters allowing to get MessageAttributes from headers.. e.g: `CustomTypeMessageAttribute getMessageAttribute(key)`. If someone uses SqsMessageHeaders class as argument for SqsListener method signature, then there is can be no type casting at all.

[2020-07-24 23:27] maciejwalkowiak commented on #543
`SimpleListenerContainerFactory` has now a property `queueStopTimeout` that you can use to control this behaviour (https://github.com/spring-cloud/spring-cloud-aws/commit/e11c184c9d798a1c0425e296c186d291a46708d4). It will be released in 2.3.

[2020-07-24 23:27] #543 closed

[2020-07-25 21:21] maciejwalkowiak commented on #570
Current idea: create base class all integrations would inherit from:

[code]

Update `AmazonWebserviceClientFactoryBean` to accept `EndpointConfiguration`.

In each integration auto-configuration follow pattern:

[code]

This is not exactly going to work for Secrets Manager and Parameter Store integration as they are detached from the `autoconfigure` module - meaning they wont be able to extend fr

[2020-07-25 23:20] mikaelhg commented on #570
Including the EC2 metadata service endpoint override, a.k.a. `com.amazonaws.sdk.ec2MetadataServiceEndpointOverride`?

[2020-07-25 23:52] maciejwalkowiak commented on #570
I had in mind setting endpoint for AWS clients. Do you think it makes sense for EC2 metadata service too since it can be already relatively easily configured through system property?

[2020-07-26 07:04] mikaelhg commented on #570
It makes sense to make Spring Cloud applications as easily testable as other Spring applications, from a standard configuration, rather than throwing unexplained exceptions at test execution, and then requiring every user to solve the same issues with testing independently.

[2020-07-26 20:08] #348 closed

[2020-07-29 04:23] eddumelendez commented on #591
As we were discussing, another benefit is `context` module can be optional too in 2.3 for `autoconfigure` module doing so. For further reference, new integrations should have their own module and/or autoconfiguration.

[2020-07-29 23:48] eddumelendez commented on #629
using the `AmazonS3Client` will require to use the classes for request and response for every operation we want to perform. Instead `S3Template` will be an abstraction where just `s3Template.create(bucket)` can do the job. For the title I can guess something like `s3Template.delete(bucket, resource)` can be useful.

Also, with a configuration properties we can set region for the specific bucket an

[2020-07-30 01:36] dekelpilli commented on #577
In my experience, this can happen when the core/max pool size on the `ThreadPoolTaskExecutor` is too low, especially if you're listening to many queues and only one or two stop working.

[2020-07-31 08:32] elluard-doinglab commented on #634
@maciejwalkowiak
the problem is solved,
I tried to use Spring cloud aws version 1.x.x
Thank you for your helping

[2020-07-31 08:32] #634 closed

[2020-07-31 19:50] mikaelhg commented on #570
POC of a workaround while waiting for proper testing tools: https://github.com/mikaelhg/aws-test-conf-poc

[2020-08-04 07:41] MPoorter opened #639 "Region auto detection with AWS secrets manager config fails with 2.2.3"
Last working version
Spring Boot: 2.3.2
Spring Cloud: Hoxton.SR6
Spring Cloud AWS: 2.2.2

Failing version
Spring Boot: 2.3.2
Spring Cloud: Hoxton.SR7
Spring Cloud AWS: 2.2.3

We run an application that uses Spring Cloud Starter AWS Secrets Manager Config to pick up secrets from the AWS secrets at startup. (See dependencies below).

With Spring Cloud Hoxton.SR6 and Spring Cloud AWS 2.2.2, the appli

[2020-08-05 02:56] eddumelendez commented on #639
@MPoorter thanks for the report! indeed, the default regio was accidentally introduced [here](https://github.com/spring-cloud/spring-cloud-aws/pull/623) for `parameter-store` and `secrets-manager`. For now, the workaround would be to set the `region` but next versions will fix it so the region will be automatically detected.

[2020-08-06 09:30] nikolajbrinch opened #640 "SimpleStorageProtocolResolverConfigurer in 2.2.3.RELEASE breaks application startup"
The change of `SimpleStorageProtocolResolverConfigurer` from `ApplicationContextAware` to `BeanFactoryPostProcessor` breaks the application startup.

We register the `amazonS3` our selves in a configuration using `ConfigurationProperties`, as we use this to interface with our own S3 provider (Minio and Hitachi). In 2.2.3.RELEASE The `SimpleStorageProtocolResolverConfigurer` is run prior to our con

[2020-08-06 14:39] mkatircioglu commented on #618
It seems that this is duplicated with #387. It would be better to close @maciejwalkowiak

[2020-08-06 16:18] kabennett opened #641 "@ConfigurationProperties not binding after upgrading to Spring Cloud AWS 2.2.3.RELEASE as part of Spring Cloud Hoxton.SR7"
Working versions
Spring Boot: 2.2.9.RELEASE, Spring Cloud: Hoxton.SR6
Spring Boot: 2.2.9.RELEASE, Spring Cloud: Hoxton.SR7, Spring Cloud AWS dependency overrides to revert to 2.2.2.RELEASE

Failing versions
Spring Boot: 2.2.9.RELEASE, Spring Cloud: Hoxton.SR7
Spring Boot: 2.2.9.RELEASE, Spring Cloud: Hoxton.SR6, Spring Cloud AWS dependency overrides to upgrade to 2.2.3.RELEASE

When our Spring Boo

[2020-08-07 02:32] #495 closed

[2020-08-10 01:21] #639 closed

[2020-08-12 10:33] bowczarek commented on #626
Hi/Cześć:) @maciejwalkowiak

Unfortunately, the `AwsSecretsManagerBootstrapConfiguration` from latest release 2.2.3 still uses `DEFAULT_REGION` (US_WEST_2) instead of resolving that region from the `DefaultAwsRegionProviderChain`:

[code]
When on `master` branch I see the change done 2 days ago :) :
![image](https://user-images.githubusercontent.com/7836378/90005792-04afef00-dc98-11ea-9aab-e117c6d

[2020-08-15 15:03] ranajit-jana opened #642 "The changing the stucture of parameter store"
Currently the parameter store expects the key to be in the following format

`/prefix/application(delimiter)environmentprofile/propertyname`

i wanted to change it to

`/environmentprofile/prefix/application/propertyname`

I have not been able to find a way to do the same.

I wanted thus to change the code (AwsParamStorePropertySourceLocator.java) a bit to accommodate it for our organisation.
when

[2020-08-17 04:56] kmalali commented on #497
what is the targetted date for releasing functionality-"increase the no of listener threads for a queue"?

[2020-08-17 13:35] cbm-afoulfoin commented on #626
Same exception for me at startup when upgrading from 2.2.2 to 2.2.3 for an SQS on my **local** environment:

[code]

in my application.yml:

[code]

Since it's on my local pc it's not on AWS cloud, the issue seems to come from here: AwsCloudEnvironmentCheckUtils.isRunningOnCloudEnvironment
When reverting to 2.2.2 everything works back.

[2020-08-19 05:30] ranajit-jana commented on #642
I added one more plugin repo to resolve it.

				<pluginRepository>
                    <id>maven-plugin-repo-mvn</id>
                    <name>Maven plugin repo maven</name>
                    <url>https://repo.maven.apache.org/maven2</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>

repo1

[2020-08-19 05:30] #642 closed

[2020-08-21 21:19] jpthompson23 opened #645 "@NotificationMessageMapping handler cannot deserialize Chinese characters"
**Describe the bug**
I publish a notification to SNS that contains a JSON object with Chinese characters in some of the fields, such as:
`{ "documentTitle": "口廿竹十火 - new" }`

And the NotificationMessageMapping handler deserializes this as:
`{ "documentTitle": "????? - new" }`

**Sample**
[code]

[2020-08-25 09:19] smoomrik commented on #374
@maciejwalkowiak is it visible now when it will be released? Is it possible to fastrack that as 2.2.4?

[2020-08-25 13:29] budaimartin opened #646 "Enable long polling in QueueMessagingTemplate"
## Background

I'm using `QueueMessagingTemplate` to send and receive messages to/from an SQS queue. Receive happens in an infinite loop that regularly polls the queue. However, when there are no messages on the queue, a large amount of empty receives happens which increases costs. I set _ReceiveMessageWaitTimeSeconds_ on the queue in order to benefit from the long polling funcitonality of SQS, bu

[2020-08-27 08:40] fransflippo commented on #556
For me the problem is not just the exception being logged, but the several seconds this adds to my startup time. Is there no way to set a property that will override this so this check doesn't need to be done? Just like `cloud.aws.region.static=eu-west-1` specifies the region instead of it being autodetected.

[2020-08-28 20:01] vivekTripaneer commented on #599
I have same issue, it does not work and does not throw any error while application is booting. I tried to set failFast to true still no impact.

[2020-08-31 13:27] KarlKl commented on #240
I know this is an old ticket, but I can't find the part of code that verifies the signature too. I think it should be in the `NotificationRequestConverter.java`, but I could not find it there.
[According to AWS Docu](https://docs.aws.amazon.com/sns/latest/dg/sns-verify-signature-of-message.html) the message signature **should** be verified on all messages. Therefore, not checking the signature cou

[2020-08-31 20:18] kabennett commented on #641
We upgraded our dependencies to Spring Boot 2.3.2.RELEASE and Spring Cloud Hoxton.SR8, and this issue still remains. Our @ConfigurationProperties objects are still not binding at application startup and return null values when we try to instantiate AWS beans. Is this a known issue and/or is there a current workaround that has been identified until this issue is fixed?

[2020-09-01 12:23] frjtrifork commented on #626
According to the javadoc for the com.amazonaws.util.EC2MetadataUtils class you can disable the attempt made to read EC2 metadata by specifying either a System property or an environment variable:

 * You can disable the use of the EC2 Instance meta data service by either setting the
 * {@link SDKGlobalConfiguration#AWS_EC2_METADATA_DISABLED_ENV_VAR} or
 * {@link SDKGlobalConfiguration#AWS_EC2_META

[2020-09-01 15:31] jstanley2-chwy commented on #245
I am running into this issue as well. I have a master RDS instance in my primary region, and a read replica in a secondary region. When I configure my ECS fargate application to connect to the master RDS instance, the secondary region ECS task fails to call `rds:DescribeInstances` across regions. I've noticed it is because this library uses the full ARN rather than the DB Instance ID (presumably b

[2020-09-01 15:34] james-stanley commented on #245
I am running into this issue as well. I have a master RDS instance in my primary region, and a read replica in a secondary region. When I configure my ECS fargate application to connect to the master RDS instance, the secondary region ECS task fails to call `rds:DescribeInstances` across regions. I've noticed it is because this library uses the full ARN rather than the DB Instance ID (presumably b

[2020-09-01 15:35] james-stanley commented on #245
@spencergibb as I am not a contributor, I am unable to re-open this. But given growing needs around high availability, I feel like this is functionality worth pursuing.

[2020-09-01 18:42] kabennett commented on #640
I've created an issue related to the same problem you are experiencing: https://github.com/spring-cloud/spring-cloud-aws/issues/641.

[2020-09-01 18:44] ofek-levy opened #648 "Integration Between EKS IAM Roles And Spring Boot"
Hi guys,

Is there a recommended way to integrate a Spring Boot application running on EKS with IAM authentication?
We would like to enable our Spring Boot application to access AWS services (such as RDS, ES, etc.) with an IAM Access Token instead of  using simple (insecure) username and password authentication.

Is there a configuration we can use (e.g. in the same way a connection string can be

[2020-09-02 17:28] aniketbhatnagar opened #649 "[SQS] Priority for queues while listening"
**Is your feature request related to a problem? Please describe.**
I would like to define a priority in `@SqsListener` so that messages from certain high priority queues are given precedence over normal queues.

**Describe the solution you'd like**
The most basic implementation could change `SimpleMessageListenerContainer` to accept 2 `taskExecutor`s - one for high priority and another for normal

[2020-09-05 12:08] hannes-angst opened #650 "2.2.3.RELEASE, 2.2.4.RELEASE breaks startup if spring-cloud-aws-autoconfigure excluded"
There was a change in the bean construction `smClient` that now breaks my code:

pom.xml
[code]

Working solution in 2.2.2.RELEASE
[code]

Broken since 2.2.3.RELEASE
[code]

Problem:
`SpringCloudClientConfiguration` not in classpath because it was excluded.

Fix:
Add another conditional on class to check for `SpringCloudClientConfiguration`

Local Workaround:
One would need to define the same bean

[2020-09-06 13:16] Sanych opened #651 "@SQSListener and @SpyBean are not working together?"
Hey everyone.
I have a simple spring boot application with AWS SQS integration.
In integration tests I tried to spy on method annotated with @SqsListener annotation and got a behavior where bean **sometimes** wasn't spied.

You can take a look at sample project here:  https://github.com/Sanych/aws-sqs-spybean-troubleshooting

run `mvn clean verify`

In this log one may notice, that 2 out of 3 test

[2020-09-08 23:20] maciejwalkowiak commented on #240
Thanks @KarlKl for letting us know. We are taking care of it.

[2020-09-09 01:37] maciejwalkowiak commented on #641
Thanks for reporting and apologies for inconvenience. Fix is on the way.

[2020-09-09 01:37] maciejwalkowiak commented on #640
Thanks for reporting and apologies for inconvenience. Fix is on the way.

[2020-09-13 07:41] eddumelendez opened #654 "Add support for import configuration via spring.config.import for Parameter Store"
**Is your feature request related to a problem? Please describe.**
Read Supporting Additional Locations https://spring.io/blog/2020/08/14/config-file-processing-in-spring-boot-2-4

**Describe the solution you'd like**
Use `aws-parameterstore:` as a prefix

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addi

[2020-09-13 07:42] eddumelendez opened #655 "Add support for import configuration via spring.config.import for Secrets Manager"
**Is your feature request related to a problem? Please describe.**
Read Supporting Additional Locations https://spring.io/blog/2020/08/14/config-file-processing-in-spring-boot-2-4

**Describe the solution you'd like**
Use `aws-secretsmanager:` as a prefix

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Addi

[2020-09-13 08:12] eddumelendez commented on #650
@hannes-angst thanks for the report. The fix was added by @maciejwalkowiak and it available in the next release.

[2020-09-13 08:12] #650 closed

[2020-09-15 02:06] eddumelendez commented on #648
I think you are interesting in https://github.com/spring-cloud/spring-cloud-aws/pull/617

[2020-09-15 02:10] eddumelendez commented on #601
Are you using it together with `spring-cloud-bus`? We may have to work on that. My bet is that we will need something like `spring-cloud-bus-sqs` integration module on top of `spring-cloud-aws-sqs` and `spring-cloud-bus`

[2020-09-15 02:13] eddumelendez commented on #624
Maybe https://github.com/spring-cloud/spring-cloud-aws/issues/601 is kind of related.

[2020-09-15 13:56] #410 closed

[2020-09-15 17:05] jamesgustard opened #661 "Spring cloud aws jdbc forces Tomcat data pool, could Hikari be added?"
Any Spring boot project will be using Hikari datapool as default , so when spring cloud aws jdbc is introduced to a spring boot project the datapool is switched over to tomcat.

The TomcatJdbcDataSourceFactory seems to rely on tomcat dataource configuration being present.
Could configurable  Hikari support be added, if it is not already possible to use Hikari?

[2020-09-16 09:21] #640 closed

[2020-09-16 09:21] #641 closed

[2020-09-16 09:23] maciejwalkowiak commented on #661
Unfortunately Spring Cloud AWS JDBC module is bound to Tomcat connection pool. Please look into #610 for improvements plan to RDS integration.

[2020-09-16 09:23] #661 closed

[2020-09-16 09:46] maciejwalkowiak commented on #651
The issue is not with spying, but with having multiple different applications contexts that compete for messages. In case of your example - if you run `SQSListenerIT` individually, all tests pass. If you run tests through Maven, they will randomly fail as you described. That's because `DemoApplicationIT` runs first, creates application context with not-spied `SQSListener`, then `SQSListenerIT` tes

[2020-09-16 09:53] maciejwalkowiak commented on #626
@bowczarek thanks for reporting. This issue has been removed in 17c3f9190a3f1d87b464738a536ab89c494bfc39 and released in 2.2.4

[2020-09-16 09:58] maciejwalkowiak commented on #626
@cbm-afoulfoin regarding the exception logging issue, it is logged by AWS SDK and we can't do much about it. Spring Cloud AWS Reference has one paragraph about this issue: https://docs.spring.io/spring-cloud-aws/docs/2.2.4.RELEASE/reference/html/#amazon-sdk-configuration

[2020-09-16 10:04] maciejwalkowiak commented on #646
Thanks for reporting and suggestions!

[2020-09-16 13:48] eddumelendez opened #664 "Add a new ses module"
**Is your feature request related to a problem? Please describe.**
Simple Email Service is already provided as an integration in the project but currently depends on `context` module.

**Describe the solution you'd like**
 Instead, we can provide a `ses` module and starter. Since it is targeted to 2.3.x should be backward compatible with existing configuration.

**Describe alternatives you've cons

[2020-09-16 13:53] eddumelendez opened #665 "Set specific region for every integration"
**Is your feature request related to a problem? Please describe.**
Currently, we are not able to set a specific region for a given service.

**Describe the solution you'd like**
Add a region for every `ConfigurationProperties` which will be prioritized and in case it was not provided the the global region will be the fallback.

**Describe alternatives you've considered**
A clear and concise descri

[2020-09-16 13:54] eddumelendez opened #666 "Set specific credential for every integration"
**Is your feature request related to a problem? Please describe.**
Currently, we are not able to set a specific credential for a given service.

**Describe the solution you'd like**
Add a credential for every `ConfigurationProperties` which will be prioritized and in case it was not provided the the global credential will be the fallback.

**Describe alternatives you've considered**
A clear and co

[2020-09-16 14:01] eddumelendez opened #667 "Move to spring.cloud.aws prefix for configuration properties"
**Is your feature request related to a problem? Please describe.**
Currently, there is a couple of prefixes in the project such as `cloud.aws` and `aws`.

**Describe the solution you'd like**
The project should provide consistency among the properties that are offered and the prefix should be `spring.cloud.aws` for every integration. In 2.3, backward compatibility should be added and the old ones

[2020-09-16 14:12] eddumelendez opened #668 "Improve elasticache redis support"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Take advantage of spring-boot redis auto-configuration.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-09-17 02:41] eddumelendez opened #675 "Add samples"
Provides a sample module `spring-cloud-aws-samples` which will contain every sub-module with a sample per every integration in the project.

* [ ] `spring-cloud-aws-elasticcache-redis-sample`
* [ ] `spring-cloud-aws-parameter-store-sample`
* [ ] `spring-cloud-aws-rds-sample`
* [ ] `spring-cloud-aws-s3-sample`
* [ ] `spring-cloud-aws-secrets-manager-sample`
* [ ] `spring-cloud-aws-ses-sample`
* [ ]

[2020-09-17 02:48] eddumelendez opened #676 "Improve tests"
There are some tests which have not been migrated to use `ApplicationContextRunner`. It would be ideal to move them. Some of these test are:

* [ ] `AwsParamStoreBootstrapConfigurationTest`
* [ ] `AwsSecretsManagerBootstrapConfigurationTest`
* [ ] `ContextInstanceDataAutoConfigurationTest`
* [ ] `ContextRegionProviderAutoConfigurationTest`
* [ ] `ContextResourceLoaderAutoConfigurationTest`
* [ ] `

[2020-09-17 09:17] QwertGold opened #678 "SimpleStorageProtocolResolver leads to early bean construction if application defines AmazonS3 bean"
**Describe the bug**
We recently upgraded to Hoxton.SR1 to SR8, and our code stopped working, After some debugging it turns out that `SimpleStorageProtocolResolver` gets registered as an ordered BeanFactoryPostProcessor, and it is now instantiated during a much earlier phase of the Application context refresh(). If the user's application defines the AmazonS3 bean this is very bad, because all Post

[2020-09-17 13:31] eddumelendez commented on #678
@QwertGold thanks for the report. We had similar reports and it is already fixed via https://github.com/spring-cloud/spring-cloud-aws/pull/658. You can test the snapshots and let us know if it is working for you. I will close the issue but reopen it if it is now working please.

[2020-09-17 13:31] #678 closed

[2020-09-17 19:40] MatejNedic commented on #676
Could I check CloudWatchExportAutoConfigurationTest for hacktoberfest?

[2020-09-17 21:22] eddumelendez commented on #676
`CloudWatchExportAutoConfigurationTest` is all yours, @MatejNedic !

[2020-09-18 06:44] MatejNedic commented on #667
Can I check this one up?

[2020-09-18 15:46] jamesgustard opened #679 "rewriteBatchedStatements=true Causes connection failure"
In spring boot I configure database name to have dbname?rewriteBatchedStatements=true on the end.
This should append rewriteBatchedStatements=true after the database name for the postgres connection URL.
When I debug it I see the ? being converted to %3F at runtime. I have tried using %3F in the database name and still get the error.

cloud.aws.rds.INSTANCE.databaseName=dbname?rewriteBatchedStatem

[2020-09-19 13:35] mkatircioglu commented on #676
@eddumelendez I can get ContextInstanceDataAutoConfigurationTest if you are ok.

[2020-09-19 13:44] mkatircioglu commented on #667
I offered that issue one or two months ago at gitter channel for release 3.0.0.M1. Wouldn't it be better to rename it for next major release for backward compatibility? @eddumelendez

[2020-09-19 16:18] eddumelendez commented on #676
@mkatircioglu Thanks for your offer! `ContextInstanceDataAutoConfigurationTest` is yours

[2020-09-19 16:28] eddumelendez commented on #667
@MatejNedic thanks! Let's do it step by step instead of all at once. So, this issue can be address with multiple PRs.

@mkatircioglu what we have in mind is not rename them at 2.3.x, we will be offering the existing one plus the new one instead so people can migrate properly during 2.3.x instead. During this time we can benefit from `spring-boot-properties-migrator` module and in 3.0 we will be re

[2020-09-19 18:29] eddumelendez commented on #667
@maciejwalkowiak your input is appreciate it.

[2020-09-20 06:37] eddumelendez commented on #123
Hi everyone, I have created a [draft](https://github.com/spring-cloud/spring-cloud-aws/pull/680) for this feature. Still pending to add some tests and docs but after reading some docs that should work

[2020-09-22 20:47] maciejwalkowiak commented on #679
Thanks @jamesgustard for reporting. It's a bug and I couldn't find a way to pass today query parameters to JDBC url. We will work on it.

[2020-09-23 08:35] jamesgustard commented on #679
Thanks , according to the postgres docs ,
"These properties may be specified in either the connection URL or an additional Properties object parameter to DriverManager.getConnection. The following examples illustrate the use of both methods to establish a SSL connection."

I was trying to configure the properties sent to the connection but could not find a away to access them.
Being able to config

[2020-09-23 18:29] eberttc commented on #676
I’d like to check AwsSecretsManagerBootstrapConfigurationTest.

[2020-09-23 18:31] eddumelendez commented on #676
@eberttc great! `AwsSecretsManagerBootstrapConfigurationTest` is yours!

[2020-09-24 07:38] shashwat1998 commented on #676
@eddumelendez can I get ContextResourceLoaderAutoConfigurationTest?

[2020-09-24 14:45] eddumelendez commented on #676
@shashwat1998 of course! `ContextResourceLoaderAutoConfigurationTest ` is yours

[2020-09-25 08:26] MatejNedic commented on #676
@eddumelendez since in #671 ApplicationContextRunner was introduced for CloudWatchExportAutoConfigurationTest and all tests were migrated to it, is it ok if I take AwsParamStoreBootstrapConfigurationTest

[2020-09-28 13:01] dturanski opened #685 "Provide a way to disable connecting to EC2 when using an S3 compatible server"
I've been able to configure the client to connect to Minio, by setting the endpoint URL.  The only remaining issue is I see this exception in the logs:

[code]
when trying to determine if the app is running on EC2, I suppose. In addition to the exception, it takes a few seconds for the connection to timeout. It would be nice if there was a way to avoid this.

[2020-09-28 13:42] fransflippo opened #686 "SimpleStorageResource doesn't use recommended URL for S3 resources"
**Describe the bug**

In: spring-cloud-aws-core 2.2.3-RELEASE

The URL returned by `SimpleStorageResource.getURL()` is produced with the following code:
[code]
For a bucket named mybucket.example.com and an object named `path/file.txt`, this results in https://s3.eu-west-1.amazonws.com/mybucket.example.com/path/file.txt .

This is what Amazon calls "path-style" addressing model: the host name is g

[2020-09-29 09:19] h-hub commented on #675
hi @eddumelendez, may I start working on the ```spring-cloud-aws-secrets-manager-sample``` ?

[2020-09-30 00:23] eddumelendez commented on #675
@h-hub great! `spring-cloud-aws-secrets-manager-sample` is your!

[2020-09-30 02:19] h-hub commented on #675
Thanks @eddumelendez . I'll start working on this.

[2020-09-30 17:32] h-hub commented on #675
@eddumelendez should I create a new module named ```spring-cloud-aws-samples```, put my sample under this module, and submit a pull request to branch 2.3.X ?

[2020-09-30 17:48] yshameer commented on #675
@eddumelendez hi, may I start working on spring-cloud-aws-s3-sample?

[2020-09-30 19:05] eddumelendez commented on #675
@yshameer sure, `spring-cloud-aws-s3-sample` is yours!

@h-hub yes, that module should be created and all the samples listed inside of it. When PRs are created we will handle conflicts or rebase properly.

Thanks!

[2020-10-01 09:45] MatejNedic commented on #675
Hi @eddumelendez , can I take `spring-cloud-aws-parameter-store-sample`?

[2020-10-03 21:53] gaurav9822 commented on #676
@eddumelendez can I take ContextRegionProviderAutoConfigurationTest ?

[2020-10-03 21:53] gaurav9822 commented on #676
@eddumelendez Please also add "hacktoberfest" as a repo topic.

Notice from digital ocean about it- digitalocean/hacktoberfest#596

[2020-10-04 01:08] sandeshdahake commented on #675
Hi @eddumelendez  is it ok if I work on spring-cloud-aws-sqs-sample ?

[2020-10-04 15:17] DarrenForsythe opened #689 "Master is currently failing due to files not meeting the Spring Java Formatting"
**Describe the bug**

Currently multiple files, across multiple modules are not formatted correctly resulting in the current CI Build failing, and not able to run a successful build locally

The affected files are,

[affected_unformatted_files.txt](https://github.com/spring-cloud/spring-cloud-aws/files/5323463/affected_unformatted_files.txt)

**Sample**

N/A

[2020-10-04 15:20] DarrenForsythe commented on #689
[affected_unformatted_files.txt](https://github.com/spring-cloud/spring-cloud-aws/files/5323466/affected_unformatted_files.txt)

Forgot to pull master, updated with correct files that are affected.

[2020-10-06 19:51] maciejwalkowiak commented on #686
Thanks for reporting. Due to the breaking nature of this lets put it to 3.0 version.

[2020-10-06 19:55] maciejwalkowiak commented on #685
Thanks @dturanski for reporting. These are known issues - logging comes from AWS SDK and we can't do much about it except muting the logger. The delay comes from autoconfiguring `ContextInstanceDataAutoConfiguration` - which you can disable if you don't need it. We are aware that it's not convenient that's why we are making all auto-configuration more explicit.

I explained how to handle the issue

[2020-10-06 19:59] maciejwalkowiak commented on #676
Thanks @gaurav9822 for the hint. We have no admin rights on the repo 🤷‍♂️. @spencergibb could you please add "hacktoberfest" to repo topics?

[2020-10-06 20:25] spencergibb commented on #676
Done

[2020-10-06 21:05] maciejwalkowiak opened #693 "Update docs to reflect the changes in 2.3"
We have merged quite a few changes in 2.3 but the reference has not been updated. We must go through the commits and update reference accordingly.

[2020-10-07 12:49] dturanski commented on #685
Thanks. I was thinking there may be a way for the user to disable the check with a property if they know they are not running on EC2. I might be able to conditionally disable the autoconfig in my app.

[2020-10-07 12:49] #685 closed

[2020-10-09 21:40] spatanjali commented on #610
It would be a good idea to mention about the configuration support towards multiple datasources against a singe RDS instance. Here the usecase is of an application which is connecting to multiple databases within a single instance of RDS.

Would be good to align as Spring Boot currently does https://docs.spring.io/spring-boot/docs/current/reference/html/howto.html#howto-two-datasources

[2020-10-10 07:44] #651 closed

[2020-10-10 07:52] maciejwalkowiak commented on #666
I'm not convinced we should support it. What's the use case for that? I've never seen a project that needed multiple credentials.

[2020-10-10 09:21] h-hub commented on #675
@eddumelendez I submitted a pull request for ```spring-cloud-aws-secrets-manager-sample```. I would also like to start working on the ```spring-cloud-aws-ses-sample```. May I?

[2020-10-13 09:56] psrmx commented on #556
-> _This means that whenever developers run our code outside ec2 instances and use some clients ... without providing the region explicitly_...
Problem is that the warning/ exception *still* happens when providing the region explicitly. I have set `cloud.aws.region.static=eu-central-1` and `cloud.aws.region.auto=false`, but I still get the autodetected warning.
Hiding a log warning feels more like

[2020-10-13 10:04] maciejwalkowiak commented on #556
@psrmx I understand the sentiment but the underlying issue is in AWS SDK. We will consider changing the way cloud environment is detected (as fetching the metadata is anyway very slow) in Spring Cloud AWS 3.0.

[2020-10-13 19:32] oh-isuri-bandara commented on #601
no have not used spring-cloud-bus. So as you mentioned is this kind of refresh is now available or something on on the works ? Sorry I posted this initial question  sometime back and just restarted looking into it. Thanks

[2020-10-14 05:00] #689 closed

[2020-10-14 20:14] rhanton commented on #459
@maciejwalkowiak Not sure if it's worth opening another ticket, but has there ever been consideration of allowing the coder to specify different TaskExecutors per-listener? My understanding is that if you set the SimpleMessageListenerContainer's setTaskExecutor method to use a thread-pool, that pool will be shared across all listeners. In my case it would be nice if you could customize a particula

[2020-10-14 20:22] maciejwalkowiak commented on #459
We won't have time to implement it in 2.x. SQS needs solid rewrite which will happen in 3.0. If you come up with an elegant implementation for 2.x I am happy to review and merge your PR @rhanton.

[2020-10-19 03:37] eddumelendez commented on #607
yes, seems very opinionated. For me, would be like this:

* Prefix should not be required
* DefaultContext should not exist
* Property `name` should not exist. So, if we have a new property `include-application-name` we can add it.
* Profile separator 🤷🏽‍♂️
* Profile, should be the one that is active. So, we load just that profile instead of everything.

@maciejwalkowiak WDYT? I agree that the new

[2020-10-19 04:23] eddumelendez commented on #607
this should also applied for new parameter store module, right?

[2020-10-20 17:10] vamsi245 opened #709 "Allow prefix in spring-cloud-starter-aws-secrets-manager-config without forward slash"
**Is your feature request related to a problem? Please describe.**
spring-cloud-starter-aws-secrets-manager-config takes a prefix with a forward slash

**Describe the solution you'd like**
Change the class to accept prefix without forward slash. Some companies have policies to restrict secretsmanager creation with forward slash

**Describe alternatives you've considered**
None

**Additional contex

[2020-10-25 22:15] eddumelendez commented on #709
we are discussing about naming properties keys in [this issue](https://github.com/spring-cloud/spring-cloud-aws/issues/607). I will close this in favor of that one.

[2020-10-25 22:15] #709 closed

[2020-10-26 03:15] eddumelendez commented on #421
I currently have tested this

[code]

1. Create `aws ssm put-parameter --name "/config/application/hello.message" --type String --value "Hello"`
2. Start application
3. See `Hello`
4. Update `aws ssm put-parameter --name "/config/application/hello.message" --value "Hola" --overwrite`
5. Perform `curl -X POST http://localhost:8080/actuator/refresh`
6. See "Hola"

Make sure you have `spring-boot-sta

[2020-10-26 03:19] eddumelendez commented on #624
I currently have tested this

[code]

1. Create `aws secretsmanager create-secret --name "/secret/application" --secret-string '{"hello.secretmessage":"Hello"}'`
2. Start application
3. See `Hello`
4. Update `aws secretsmanager update-secret --secret-id /secret/application --secret-string '{"hello.secretmessage":"Hola"}'`
5. Perform `curl -X POST http://localhost:8080/actuator/refresh`
6. See "Hol

[2020-10-26 03:33] eddumelendez commented on #601
looks like I misunderstood your question but if you are trying to reload properties, yes, it works I have tried using parameter store and secrets manager. You can find the info below. However, not sure if it will work with the configs for sqs which is your specific question.

[code]

1. Create `aws secretsmanager create-secret --name "/secret/application" --secret-string '{"hello.secretmessage":"H

[2020-10-26 18:31] raseals commented on #614
Because of the bug in AWS Java SDK v1 with respect to Regions not found, I have since removed any reference in my project with using the Spring Cloud (which pulls in the third-party AWS Java SDK v1 library). I am strictly using the AWS Java SDK v2 and calling it directly using SqsClient and requesting any messages in the AWS SQS Queue. Since I no longer have an SqsListener (which I so miss), I now

[2020-10-28 08:51] huehnerlady commented on #504
@maciejwalkowiak do you have an update for this? any timeline when 2.3 will be released? or could it maybe be relesed in an earlier version after all?

[2020-10-29 14:20] cvwjensen commented on #374
I can confirm to have the same issue in spring-cloud-aws-messaging-2.2.4.RELEASE.jar which ships with Hoxton.SR8

[2020-10-29 14:33] cvwjensen commented on #374
It seems the problem have been fixed on master: https://github.com/spring-cloud/spring-cloud-aws/blob/master/spring-cloud-aws-messaging/src/main/java/org/springframework/cloud/aws/messaging/core/QueueMessageUtils.java. When will this version be released?

[2020-10-29 16:28] pedrorlmarques opened #711 "Jackson Naming Strategy SNAKE_CASE Incompatible SQS/SNS"
Spring give us the possibility to set the property **spring.jackson.property-naming-strategy.**
When setting to **SNAKE_CASE** the expectation is that all fields much have that format.
But want happens is that the property is ignored all fields are on **camelCase**.

WorkAround:
If I annotate the field with **@JsonProperty** and explicit write in snake_case the fields in correctly formatted.

Appl

[2020-11-02 08:57] nikhithagoli commented on #469
Hey people, Any one can share me a sample code how to implement two sqsListeners for a single sqs queue like the following:
class A{
@SqsListener(value = "some-queue", deletionPolicy = ON_SUCCESS)
public void onMessageReceived1(String payload, @Header(TYPE) String messageType) {}
}

class B {
@SqsListener(value = "some-queue", deletionPolicy = ON_SUCCESS)
public void onMessageReceived2(@Payload So

[2020-11-02 09:00] nikhithagoli commented on #469
Hey guys ... question to spring-cloud-aws / multiple listeners on one queue(to have multiple sqsListeners for the same queue) can any one please the code for it. I have tried it as follows:
@Component
public class MessageListener2 {

	private static final String QUEUE = "sqs_spring_poc.fifo";

	@Autowired
    AmazonSQSAsync sqs;

	@SqsListener(value = QUEUE, deletionPolicy = SqsMessageDeletionPoli

[2020-11-02 15:31] nhomble commented on #515
Instead of an array of strings, maybe we should be a little more flexible and allow users to configure the desired name as well? I think we're going to hit a wall if we only depend on the library to interpret the secret name from the path. Maybe like

[code]

[2020-11-02 15:43] nickcaballero commented on #515
Agreed with @nhomble. I have a similar implementation of this via a `PropertyResolver`.

[2020-11-04 08:25] frjtrifork opened #714 "Add support for AWS SNS FIFO topics"
On 22 October AWS released FIFO enabled SNS Topics.
These have some requirements regarding extra fields that has to be sent in the PublishRequest.
I believe 1.11.892 version of aws-sdk is required to have the new properties available in the PublishRequest.

If the SNS Topic has ContentBasedDeduplication property set to false, a unique DeduplicationId must be set in each request.

If the ContentBas

[2020-11-04 18:33] #645 closed

[2020-11-04 18:53] #262 closed

[2020-11-04 18:53] #350 closed

[2020-11-04 22:53] aravindparappil46 commented on #356
Looking forward to the `3.0.0.M1` milestone!
Definitely need this feature to be able to connect to Aurora RDS Cluster (through annotation and through the `application.properties` file) for Spring & Spring Boot projects

[2020-11-04 23:18] maciejwalkowiak commented on #356
@aravindparappil46 currently you have to do it manually - look at Vlad's post for inspiration: https://vladmihalcea.com/read-write-read-only-transaction-routing-spring/

[2020-11-09 17:10] cschroed-usgs opened #717 "Reference Documentation for Releases Unavailable"
**Type**: Bug

**Component**:
All

**Steps to Reproduce**
1. Visit https://spring.io/projects/spring-cloud-aws#learn
2. Try clicking on the "Reference Documentation" links for either of the most recent releases. Specifically, https://docs.spring.io/spring-cloud-aws/docs/current/reference/html/ and https://cloud.spring.io/spring-cloud-static/spring-cloud-aws/2.1.4.RELEASE/
3. Observe that neither p

[2020-11-09 17:12] cschroed-usgs commented on #717
Possibly related to #118

[2020-11-10 03:37] sivaprasadreddy opened #718 "Autowired Environment bean is null if I register AmazonS3 bean with name “amazonS3”"
**Type**: Bug

**Component**:
"S3"

**Describe the bug**
I have a simple SpringBoot 2.3.5, SpringCloud Hoxton.SR8 application with `spring-cloud-starter-aws-messaging` starter added. I have some configuration class as follows:

[code]

When I run the application the `@Autowired` environment is NULL. Not only `Environment` bean but also any `@ConfigurationProperties` beans also injected as NULLs.

[2020-11-10 19:19] maciejwalkowiak commented on #718
@sivaprasadreddy this issue has been fixed in 2.2.5 and is already available in Hoxton.SR9.

S3 integration is "special" because it is used to resolve resources path `@Resource("s3://....")` - when I attempted to do it a usual way, the overwritten bean is created before the environment and any `@ConfigurationProperties` beans are available. So we decided to do it in not-that-usual-but-working way:

[2020-11-10 19:26] maciejwalkowiak commented on #717
Thanks for reporting, something got broken in docs generation. Docs are available at: https://docs.spring.io/spring-cloud-aws/docs/2.2.5.RELEASE/2.2.5.RELEASE/reference/html/

[2020-11-11 02:39] sivaprasadreddy commented on #718
@maciejwalkowiak Verified with **Hoxton.SR9** and it's working perfectly fine. Thanks for checking.

[2020-11-11 02:39] #718 closed

[2020-11-12 11:28] #676 closed

[2020-11-12 17:21] agentIsaac commented on #607
Requiring the forward slash on the prefix is definitely something I'd like to see go away too.

[2020-11-20 17:10] dovert01 commented on #356
Vlad's post is interesting and certainly helps for day-to-day running.   But it's of little help to Spring projects that are looking to reap the benefits of Aurora clusters for failover.  The current provision of a retry interceptor isn't really good enough.  Services should be able to connect to a cluster, the SDK should be aware of which instances are write and read-only, and should direct reque

[2020-11-21 23:02] mmajcenic opened #722 "ClassNotFoundException with AWS messaging"
**Type**: Bug

**Component**: SQS

**Describe the bug**
When using `spring-cloud-aws-messaging`, without Webflux module and with embedded web server (as defined with `WebEnvironment` enum), tests fail with `java.lang.ClassNotFoundException`.

This happens, or at least I believe so, because `WebTestClientContextCustomizer` registers a `WebTestClient` in:

[code]

This later on causes `AbstractMetho

[2020-11-23 06:43] paulcwarren opened #724 "SimpleStorageProtocolResolver constructor no longer visible"
**Type**: Bug

**Component**:
S3

**Describe the bug**
We relied on the [public constructor that used to accept an AmazonS3 client](https://github.com/spring-cloud/spring-cloud-aws/blob/17ccc832caa6d9260d3afa8e98720e26b15dd48e/spring-cloud-aws-core/src/main/java/org/springframework/cloud/aws/core/io/s3/SimpleStorageProtocolResolver.java#L57) but is not longer visible.  Therefore we were broken whe

[2020-11-24 20:22] maciejwalkowiak commented on #570
Closed in #715

[2020-11-24 20:22] #570 closed

[2020-11-24 22:20] maciejwalkowiak commented on #227
Fixed in https://github.com/spring-cloud/spring-cloud-aws/pull/582

[2020-11-24 22:20] #227 closed

[2020-11-24 22:42] maciejwalkowiak commented on #722
Spring Cloud AWS (and Spring Cloud in general) are not ready yet to be used with Spring Boot 2.4.0. Hoxton release train is compatible with 2.3.x and you need to wait for Spring Cloud AWS 2.3.0 release for Spring Boot 2.4.0 compatibility.

[2020-11-24 22:42] #722 closed

[2020-11-24 23:25] maciejwalkowiak commented on #591
Fixed in https://github.com/spring-cloud/spring-cloud-aws/pull/606, https://github.com/spring-cloud/spring-cloud-aws/pull/615, https://github.com/spring-cloud/spring-cloud-aws/pull/636

[2020-11-24 23:25] #591 closed

[2020-11-24 23:28] maciejwalkowiak commented on #481
@eddumelendez perhaps you can do it as a part of https://github.com/spring-cloud/spring-cloud-aws/issues/655?

[2020-11-24 23:29] maciejwalkowiak commented on #665
@eddumelendez I believe this one can be closed?

[2020-11-24 23:44] maciejwalkowiak commented on #618
Thanks @mkatircioglu you're right.

[2020-11-24 23:44] #618 closed

[2020-11-24 23:52] maciejwalkowiak commented on #614
This has been fixed in 2.3.x by upgrading AWS SDK v1 version. I was wrong before that we need to use AWS SDK v2 - this regions are also available with v1: https://github.com/aws/aws-sdk-java/blame/master/aws-java-sdk-core/src/main/java/com/amazonaws/regions/Regions.java#L28

[2020-11-24 23:52] #614 closed

[2020-11-24 23:59] maciejwalkowiak commented on #494
Follow up, I have not seen any Spring Cloud project providing similar functionality - Vault, GCP or Spring Cloud Azure. I believe we should not implement this change cc: @eddumelendez

[2020-11-25 00:05] maciejwalkowiak commented on #488
It's currently not possible to enable tags from Java config and it's not high on our priority list. PRs welcome!

[2020-11-25 00:07] maciejwalkowiak commented on #487
Closed due to inactivity.

[2020-11-25 00:07] #487 closed

[2020-11-25 00:09] maciejwalkowiak commented on #486
Spring Cloud AWS does not support using multiple credentials. An option to set custom region has been implemented in https://github.com/spring-cloud/spring-cloud-aws/pull/715

[2020-11-25 00:09] #486 closed

[2020-11-25 00:11] maciejwalkowiak commented on #480
Duplicate of https://github.com/spring-cloud/spring-cloud-aws/issues/624

[2020-11-25 00:11] #480 closed

[2020-11-25 00:13] maciejwalkowiak commented on #369
It has been fixed in 2.2.5

[2020-11-25 00:13] #369 closed

[2020-11-25 04:16] eddumelendez commented on #665
Yes.

[2020-11-25 04:16] #665 closed

[2020-11-25 05:49] eddumelendez commented on #494
just for the record https://github.com/GoogleCloudPlatform/spring-cloud-gcp/blob/master/docs/src/main/asciidoc/secretmanager.adoc#secret-manager-property-source

gcp secretsmanager it does. I haven't use it and I have second thoughts on this. For now, I agree on not implementing this.

[2020-11-25 08:03] #123 closed

[2020-11-25 08:03] #664 closed

[2020-11-25 08:03] #573 closed

[2020-11-25 08:03] #724 closed

[2020-11-25 09:10] #16 closed

[2020-11-25 09:11] #18 closed

[2020-11-25 19:22] maciejwalkowiak commented on #35
Active profile can be also set as the environment variable in Elastic Beanstalk environment. Considering our limited time we are not going to implement suggested change anytime soon. If anyone finds it really useful, please comment and ideally open a PR.

[2020-11-25 19:22] #35 closed

[2020-11-25 22:11] maciejwalkowiak commented on #567
We have decided to deprecate it in 2.3 and drop completely in 3.0.

[2020-11-25 22:22] maciejwalkowiak commented on #102
You can provide custom credentials provider bean, it just has to have specific name:

[code]
Where `CredentialsProviderFactoryBean.CREDENTIALS_PROVIDER_BEAN_NAME` has value `credentialsProvider`.

[2020-11-25 22:26] maciejwalkowiak commented on #341
In fact, we need to document required IAM permissions for each integration.

[2020-11-26 08:44] maciejwalkowiak commented on #589
Thanks @DarrenForsythe! Fixed in https://github.com/spring-cloud/spring-cloud-aws/commit/f920fc35d4b4371ad9ea0c28ba5d6b7fa80518e7

[2020-11-26 08:44] #589 closed

[2020-11-27 09:14] Kraignos opened #732 "[RDS] @EnableRdsInstance enhancement"
Although `@EnableRdsInstance` allows us to configure an RDS datasource, we can not use a placeholder for all of its value, specifically for the boolean value `readReplicaSupport`.

Would it be possible to have another value, let's say `readReplicaSupportString` (of type String as the name suggests), which would allow us to have a placeholder for this particular value ?

It makes sense for instance

[2020-11-27 16:08] Fodoj commented on #648
@eddumelendez referenced PR is now closed. Does spring-cloud-aws work with EKS ServiceAccount provided roles? I could not find aws-sdk-sts included anywhere, which is a requirement for this EKS+IAM to work

[2020-11-27 16:27] maciejwalkowiak commented on #648
Its closed but not merged. The issue still remains. We are happy to take a new PR.

[2020-11-27 16:58] Fodoj commented on #648
@maciejwalkowiak is there a workaround to make it work, without patching spring-cloud?

[2020-11-27 18:51] maciejwalkowiak commented on #648
I am not 100% sure if its enough byt you can provide custom credentials provider bean, just name it "credentialsProvider".

[2020-11-28 00:57] trouptelia opened #734 "EC2MetadataUtils used to determine if running on cloud environment does not work on ECS Fargate"
**Type**: Bug

**Describe the bug**
Version of Spring Cloud:
org.springframework.cloud:spring-cloud-dependencies:Hoxton.SR9
Which resolves to spring cloud aws version 2.2.5.RELEASE

When the application starts up the org.springframework.cloud.aws.context.support.env.AwsCloudEnvironmentCheckUtils attempts to determine if the code is running in a cloud environment by using com.amazonaws.util.EC2Meta

[2020-11-28 01:09] trouptelia opened #735 "Ec2MetadataRegionProvider being used even when use-default-aws-region-chain is set to true in application.yml"
**Type**: Bug

**Component**:
 "SQS"

**Describe the bug**
Version of Spring Cloud:
org.springframework.cloud:spring-cloud-dependencies:Hoxton.SR9
Which resolves to spring cloud aws version 2.2.5.RELEASE
spring-cloud-starter-aws-messaging 2.2.5.RELEASE

Our spring boot application is running in ECS Fargate and uses spring-cloud-starter-aws-messaging to access SQS. When the application starts up I

[2020-11-29 20:11] maciejwalkowiak commented on #735
I am not able to reproduce this issue. Does this happen only when application runs on ECS or locally too?

Can you provide a minimal sample that suffers from the same problem?

[2020-11-29 20:17] maciejwalkowiak commented on #734
Thanks for the report. Indeed `ConditionalOnAwsCloudEnvironment` does not work on Fargate. In your setup, exclude `ContextInstanceDataAutoConfiguration` as this is the only one that uses this conditional annotation and the warning message will disappear, also, your application will startup faster.

Starting from 2.3.0 `ContextInstanceDataAutoConfiguration` will be disabled by default.

[2020-11-29 21:08] venkat22 opened #736 "Move AwsSecretsManagerProperties.PREFIX_PATTERN to Configuration Properties"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
Some of our clients doesn't allow Prefix to start with '/'.  Moving it to properties will help us to override the same on need basis.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of an

[2020-11-30 04:38] paulcwarren commented on #724
Thanks much.  That's very helpful.

[2020-11-30 09:33] trouptelia commented on #735
My apologies. This was a misconfiguration error on my part. Closing now.

[2020-11-30 09:33] #735 closed

[2020-11-30 09:57] Kraignos opened #739 "[RDS] Use Spring Tomcat Datasource properties in default Tomcat datasource"
Would it be possible to get the following [Spring datasource properties](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#spring.datasource.tomcat) and integrate them in the `TomcatJdbcDataSourceFactory` class when you create a new datasource within the `createDataSource` method ?
For now, it is instanciated with the default values coming from the Tomcat class `PoolProperties`

[2020-11-30 10:05] maciejwalkowiak commented on #735
No worries 👍

[2020-11-30 16:07] raseals commented on #614
You do need to use AWS SDK v2, as there are AWS Region names that are not contained in the Regions enum -- only in the classified AWS gov cloud. So, we still would not be able to use any Spring AWS using AWS SDK v1 since the region names do not exist.

[2020-11-30 19:52] maciejwalkowiak commented on #614
Ah, true, you're right. This issue will be automatically resolved once we switch to AWS SDK v2. We are finalizing 2.3 now and soon after we start working on 3.0.

[2020-12-01 08:05] buckett commented on #734
Is the plan for this to improve `org.springframework.cloud.aws.context.support.env.AwsCloudEnvironmentCheckUtils` so that it understands the metadata endpoints documented in: https://docs.aws.amazon.com/AmazonECS/latest/userguide/task-metadata-endpoint-fargate.html

[2020-12-01 08:29] buckett commented on #734
I had a look in the AWS v1 SDK (current SDK for Spring Cloud AWS) with https://github.com/aws/aws-sdk-java/search?q=169.254.170&type=code but there doesn't appear (only from 10 minutes looking) to be a way to get the ECS metadata, the only thing I found was a way to load the container credentials:
https://github.com/aws/aws-sdk-java/blob/master/aws-java-sdk-core/src/main/java/com/amazonaws/auth/Co

[2020-12-02 07:36] vghero commented on #368
Any news on this? Seems a PR is already provided. Could someone take a look please?

[2020-12-07 03:43] vitahlin opened #742 "Can not receive sqs message after theapplication has been running for a period of time"
**Type**: Bug

**Component**:
SQS

**Describe the bug**

After the application runs for a few days, listener can not receive the message and I saw the count of messages in the queue growing in the Amazon admin. The application runs normally only sqs listener not receive message. After I restart application then it worked well again.

Spring Cloud Version：
[code]

**Sample**
`listener`：
[code]

`Aw

[2020-12-07 13:50] tristanessquare commented on #530
**Possible Workaround**

To solve the problem you could setup your SimpleMessageListenerContainer with a maxNumberOfMessages of 1. This configuration defines the max size of the batches that are received from each queue.

This configuration is global so you currently cannot setup queues with individual batch sizes. This solution also increases the number of calls to sqs and it reduces the throughp

[2020-12-08 13:37] #515 closed

[2020-12-08 13:37] #655 closed

[2020-12-08 20:54] trouptelia commented on #300
The fact org.springframework.cloud.aws.messaging.listener.SimpleMessageListenerContainer does not implement an interface and instead this concrete class is created and autowired we certainly have a few challenges to achieving this with the code as it stands.

I have not tried this myself but one complete hack that could be attempted would be to autowire in the created instance of SimpleMessageList

[2020-12-10 08:58] git-josip commented on #356
I have do it for now using reader/writer datasources +  AOP .
basic idea is here: https://fable.sh/blog/splitting-read-and-write-operations-in-spring-boot/

Looking forward to `3.0.0.M1`  milestone!

[2020-12-15 20:34] #654 closed

[2020-12-15 21:48] maciejwalkowiak commented on #607
With the ability to load secrets through Spring Boot 2.4 config data loader and Secrets Manager integration introduced in https://github.com/spring-cloud/spring-cloud-aws/pull/721, all of the issues have been resolved.

It is possible to load independent secrets like:

[code]

[2020-12-15 21:49] #607 closed

[2020-12-15 21:49] #412 closed

[2020-12-15 21:49] #63 closed

[2020-12-15 21:59] maciejwalkowiak commented on #667
@eddumelendez Considering timing, I think we should move it to 3.0 or 2.4 if we decide to release such version.

[2020-12-19 11:08] #567 closed

[2020-12-22 11:16] tristanessquare opened #756 "Messages retrieved from a FIFO with same messageGroupId are processed concurrently"
**Type**: Bug

**Component**:
SQS

**Describe the bug**
In our application we are using multiple SqsListener annotations to retrieve sqs messages from FIFO and non-FIFO queues. We are using the default setting for maxNumberOfMessages (10) in order to keep the number of requests made to AWS as low as possible.

The messages retrieved from FIFO queues with same messageGroupId are processed concurren

[2020-12-22 13:53] fmalhe commented on #756
I just bumped into this exact same issue in one of my services. I am hopeful that the PR opened to fixed it can be merged/released soon.

[2020-12-23 02:49] hariohmprasath opened #757 "Support for registering & discovering applications using AWS CloudMap"
**Type**: Feature
Support for registering & discovering applications using AWS CloudMap

**Is your feature request related to a problem? Please describe.**
We have an application which is currently deployed in both ECS and EKS cluster that would need AWS CloudMap integration to enable service discovery. But depending upon where you deploy the CloudMap integration may vary, like below:
- For applic

[2020-12-26 14:01] itsandreramon commented on #513
Any updates regarding this?

[2020-12-27 06:10] eddumelendez commented on #513
Currently, `spring-cloud-aws` doesn't block to use `rd2bc`, you can use it as you can use `jdbc` even without the `spring-cloud-aws-jdbc` module. Most of the supported databases by AWS RDS have a `r2dbc` driver. Connection Pool is offered by `spring-boot` auto-configurations already and regarding to "failover support" using multi AZ or [rds proxy](https://aws.amazon.com/rds/proxy/) is something th

[2020-12-27 06:12] eddumelendez commented on #757
Closing this one in favor of the one added at https://github.com/awspring/spring-cloud-aws

[2020-12-27 06:12] #757 closed

[2020-12-27 06:15] eddumelendez commented on #739
Hi @Kraignos you can use `DataSourceAutoConfiguration` from `spring-boot` which means using `spring.datasource.*` configuration properties. Wondering if you are using `spring-cloud-aws-jdbc` for any special reason?

[2020-12-27 06:18] eddumelendez commented on #736
As part of `spring-cloud-aws` 2.3, the following property `aws-secretsmanager:` or `aws-secretsmanager:my-secret-key` or
`aws-secretsmanager:my-secret-key;my-anoter-secret-key`. This will cover the request.

[2020-12-27 06:18] #736 closed

[2020-12-27 06:26] eddumelendez commented on #732
`@EnableRdsInstance` has been deprecated as part of 2.3. Instead there are configuration property for this scenario `cloud.aws.rds.*.readReplicaSupport`

[2020-12-27 06:26] #732 closed

[2020-12-27 06:27] #668 closed

[2020-12-27 06:27] #667 closed

[2020-12-27 06:28] #666 closed

[2021-01-04 00:53] kabroadb commented on #734
Under the hood the AwsCloudEnvironmentCheckUtils uses the SDK's EC2MetadataUtils. That util class calls an EC2-specific metadata endpoint that is present on EC2 instances. ECS has its own set of metadata endpoints (https://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-metadata-endpoint.html). One option would be to create a helper class to retrieve data from those endpoints and see if i

[2021-01-05 11:22] amitgupta9501 opened #759 "Unable to publish message on SNS fifo topic, getting "Invalid parameter: The MessageGroupId parameter is required for FIFO topics" error"
**Type**: Bug

**Component**: "SNS"

**Issue description**
Unable to publish message on SNS fifo topic, getting "Invalid parameter: The MessageGroupId parameter is required for FIFO topics" error

Hi Team,

I have created a SNS fifo topic. I am getting below error from AWS CLI:-

aws sns publish --topic-arn arn:aws:sns:us-east-2:461234567890:testTopic.fifo --message "Hello World!"

ERROR: An error

[2021-01-06 08:51] amitgupta9501 commented on #759
Hi Team,

With SNS java sdk upgrade to '**software.amazon.awssdk:sns:2.15.58**', which had been released on **Jan 04, 2021**.

Now able to publish on sns fifo topic with **messageGropuId** with java sdk. Below error had gone now:-

**Invalid parameter: The MessageGroupId parameter is required for FIFO topics**

**SNS mvn repo url:** https://mvnrepository.com/artifact/software.amazon.awssdk/sns/2.1

[2021-01-06 08:51] #759 closed

[2021-01-12 14:18] gauravbrills commented on #482
how about for gradle will this work

[code]

[2021-01-14 01:42] joegoogle123 commented on #300
I read a blog post taking about a **SQS** event listening library : [https://reflectoring.io/spring-robust-sqs-client/](url)

The mini-framework this author wrote is exactly the sort of thing the original poster is looking for. You can create a registry bean where message handlers can be added alongside arbitrary queue names.

The author even have a spring auto configuration that could easily be r

[2021-01-21 20:44] sofiene53 commented on #356
unable to connect to an Aurora RDS Cluster with read replica  (through annotation and through the application.properties file) for spring boot project using spring cloud
Any news Please !

[2021-01-22 08:45] WtfJoke opened #760 "Spring Boot 2.4.x compatibility"
Hi there,

Sorry for asking a question here since the [stackoverflow question I found](https://stackoverflow.com/questions/65564485/spring-cloud-aws-support-for-spring-boot-2-4) wasnt answered.
Is Spring Cloud AWS compatible with Spring Boot 2.4.x?

Because according to Spring Initilizr its not:
![grafik](https://user-images.githubusercontent.com/7139697/105467595-3345e300-5c96-11eb-8b13-338f98a68

[2021-01-22 14:23] maciejwalkowiak commented on #760
Not yet. Spring Cloud AWS 2.3 is compatible with Spring Boot 2.4, it will be released very soon.

[2021-01-22 20:20] #675 closed

[2021-01-23 00:58] maciejwalkowiak opened #761 "Update docs to reflect the changes in 2.3"
From spring-cloud-aws created by [maciejwalkowiak](https://github.com/maciejwalkowiak): spring-cloud/spring-cloud-aws#693

We have merged quite a few changes in 2.3 but the reference has not been updated. We must go through the commits and update reference accordingly.

[2021-01-23 00:58] #693 closed

[2021-01-23 01:04] #38 closed

[2021-01-28 08:40] MatejNedic commented on #341
I believe we can close this issue @maciejwalkowiak

[2021-01-28 08:44] MatejNedic commented on #481
This can be closed with https://github.com/awspring/spring-cloud-aws/pull/27 @maciejwalkowiak?

[2021-02-03 23:15] joelhess commented on #760
I ended up bumping into this, by accident (didn't see the warning) but everything seems to be working. Is there a particular issue that you're concerned about compatibility, or is it just not tested?

[2021-02-05 21:53] alexharvey commented on #714
Hi, any updates on when `spring-cloud-aws` will support FIFO for SNS topics? I've noticed that even the AWS SDK dependency for 2.2.5.RELEASE doesn't have support for MessageGroupId if I wanted to just code directly to the SDK within my Spring Boot service. Thanks!

[2021-02-05 23:38] frjtrifork commented on #714
I made this simple workaround

[code]

Make it into a Spring bean somewhere in your configuration

[code]

And use it for constructing the AmazonSnsAsync bean instance

[code]
Then Spring will use it for AmazonSNSAsync dependencies automatically and use it in org.springframework.cloud.aws.messaging.config.annotation.SnsWebConfiguration#snsWebMvcConfigurer

Or you can create a NotificationTemplate

[2021-02-08 06:06] maciejwalkowiak opened #762 "Add support for AWS SNS FIFO topics"
From spring-cloud-aws created by [frjtrifork](https://github.com/frjtrifork): spring-cloud/spring-cloud-aws#714

On 22 October AWS released FIFO enabled SNS Topics.
These have some requirements regarding extra fields that has to be sent in the PublishRequest.
I believe 1.11.892 version of aws-sdk is required to have the new properties available in the PublishRequest.

If the SNS Topic has ContentB

[2021-02-08 06:07] maciejwalkowiak commented on #762
https://github.com/spring-cloud/spring-cloud-aws/issues/714#issuecomment-774345788

@frjtrifork:

[2021-02-08 06:08] maciejwalkowiak commented on #714
Replaced by https://github.com/spring-cloud/spring-cloud-aws/issues/762

[2021-02-08 06:08] #714 closed

[2021-02-08 06:39] #379 closed

[2021-02-08 06:39] #530 closed

[2021-02-08 06:39] #756 closed

[2021-02-08 06:43] maciejwalkowiak commented on #762
Replaced by https://github.com/awspring/spring-cloud-aws/issues/41

[2021-02-08 06:43] #762 closed

[2021-02-08 06:43] #761 closed

[2021-02-08 08:12] digimon1740 commented on #760
faster faster

[2021-02-08 08:51] maciejwalkowiak commented on #760
@digimon1740 if all goes according to a plan, today Release Candidate!

[2021-02-08 08:52] maciejwalkowiak commented on #760
@joelhess 2.2.x is built against Boot 2.3 and older Spring Cloud. It's not tested if it works with 2.4

[2021-02-08 09:20] digimon1740 commented on #760
Thanks for your comment :) that sounds great

[2021-02-08 12:15] lenlaurito commented on #387
Is it possible to configure different `maxNumberOfMessages` for listeners of different standard queues?

[2021-02-08 13:59] #368 closed

[2021-02-08 14:10] maciejwalkowiak commented on #387
@lenlaurito there is a global configuration option. There is no option per-listener. What's your use case?

[2021-02-08 20:42] msarun commented on #221
@alainsahli any ballpark dates when the fix is available? don't see the fix in 2.2.5.RELEASE

[2021-02-08 22:09] maciejwalkowiak commented on #221
We are releasing 2.3 RC tomorrow. Was supposed to be today, but we faced some obstacles.

[2021-02-08 23:08] maciejwalkowiak commented on #481
Spring Cloud AWS has now a sample application showing how to use Secrets Manager integration: https://github.com/awspring/spring-cloud-aws/tree/2.3.x/spring-cloud-aws-samples/spring-cloud-aws-secrets-manager-sample

Ideally we will also add a getting started guide, but this will come later.

[2021-02-08 23:08] #481 closed

[2021-02-08 23:09] maciejwalkowiak commented on #341
Policies can be found now in the reference docs: https://docs.awspring.io/spring-cloud-aws/docs/2.3.0.BUILD-SNAPSHOT/reference/html/index.html

[2021-02-08 23:09] #341 closed

[2021-02-08 23:10] maciejwalkowiak commented on #482
@gauravbrills I don't know how boms work with Gradle.

[2021-02-09 00:41] maciejwalkowiak commented on #610
Replaced by https://github.com/awspring/spring-cloud-aws/issues/48

[2021-02-09 00:41] #610 closed

[2021-02-09 04:29] lenlaurito commented on #387
@maciejwalkowiak Our application has listeners with different needs. Some needs to have lower max number of messages because it might take a while to finish and it might need more resources (CPU/memory). While other listeners have processes that are quick and don't require much resources and these listeners usually need to process a lot of messages so having a higher max number of messages would b

[2021-02-09 08:01] maciejwalkowiak commented on #387
Got it

[2021-02-09 16:57] #356 closed

[2021-02-09 16:58] maciejwalkowiak commented on #356
Replaced with https://github.com/awspring/spring-cloud-aws/issues/50

[2021-02-09 19:47] msarun commented on #221
thanks @maciejwalkowiak looking forward to the fix in 2.3 RC. Please let us know once it is available

[2021-02-11 16:54] nickcaballero commented on #379
@maciejwalkowiak Doesn't really seem like https://github.com/awspring/spring-cloud-aws/pull/40 addresses this. Seems like https://github.com/awspring/spring-cloud-aws/issues/23 is probably the continuation of this?

[2021-02-11 16:57] nickcaballero commented on #166
https://github.com/awspring/spring-cloud-aws/issues/23

[2021-02-11 18:12] rbelow commented on #625
Could I help here?

[2021-02-12 01:17] maciejwalkowiak commented on #760
Spring Cloud AWS 2.3 RC2 has been released - https://maciejwalkowiak.com/blog/spring-cloud-aws-2-3-rc2-released/.

GA expected in a week. It would be great if you could use RC2 and give us feedback.

[2021-02-12 01:33] maciejwalkowiak commented on #494
Considering that since 2.3 it's possible to load Parameter Store properties vis `spring.config.import=aws-parameterstore:` I think this issue can be closed.

[2021-02-12 01:33] #494 closed

[2021-02-12 06:53] alex-ninja commented on #625
I believe we just need to keep track of https://github.com/awspring/spring-cloud-aws/issues/20. Once complete, it will resolve this problem as well.

[2021-02-14 05:06] arunkpatra commented on #557
I would like to help. Will catch up with @maciejwalkowiak

[2021-02-17 09:40] fblanke commented on #221
@maciejwalkowiak Any news regarding the 2.3 RC? Me and my team are eagerly awaiting the release :) Thanks for a great lib which really simplifies a lot of things for us

[2021-02-17 13:32] fblanke commented on #221
For anyone else ending up here, please note that the project have moved to a new repo which is https://github.com/awspring/spring-cloud-aws. I am pretty sure that I made a reading mistake before, when asking on ETA for 2.3 release.

[2021-02-17 20:00] krisiye opened #763 "Support STS session Token"
**Type**:
Enhancement

**Is your feature request related to a problem? Please describe.**
spring cloud aws does not support session token for the credentials manager. This will be useful to add for aws integrations using STS.

**Describe the solution you'd like**
- Add support under `org.springframework.cloud.aws.autoconfigure.context.properties.AwsCredentialsProperties` for `cloud.aws.credentials

[2021-02-17 22:35] krisiye commented on #763
Closing in favor of https://github.com/awspring/spring-cloud-aws/issues/73

[2021-02-17 22:35] #763 closed

[2021-02-20 09:52] JurrianFahner commented on #717
Index html missing for version 2.2.6, the directory structure is the same as @maciejwalkowiak reported.

[2021-02-24 19:33] Frantch opened #764 "non profile SecretManager get's executed even when starting with a profile"
**Type**: Bug

**Component**:
"Secrets Manager"

**Describe the bug**
Not entirely sure this is a bug or I'm missing something very trivial but when starting my app with a profile the secret manager still tries to fetch a secret with the values it finds in the application.yml which makes it impossible to test the app locally.

**Sample**
Spring Boot 2.4.2
spring-cloud-starter-aws-secrets-manager-c

[2021-02-25 15:44] D3jank commented on #760
I tested Spring Cloud AWS 2.3 RC2 with Spring Cloud Kafka and ran into the following issue: https://stackoverflow.com/questions/66371655/spring-cloud-kafka-and-aws-secrets-inputbindinglifecycle-exception

Any advice on how to fix that would be great!

[2021-02-25 21:25] neiljbrown commented on #760
@D3jank - posted some advice to Stackoverflow, which may or may not help. Regards.

[2021-02-26 01:21] #764 closed

[2021-03-09 23:42] cwagnello opened #765 "Add support for AWS Basic Session Credentials"
Add support for AWS Basic Session Credentials

Our AWS dev environment requires Session key in addition to the Access Key and Secret Key.

I have tried to override the existing credentials provider but it didn't work. More information is provided in the StackOverflow post I created:
https://stackoverflow.com/questions/66447771/spring-cloud-use-custom-credentials-provider-for-aws-basicsessioncreden

[2021-03-12 06:05] nevvermind commented on #627
I'm on the lookout for the same thing.
I don't think there is a straightforward way, no: https://stackoverflow.com/questions/58064573/multiple-aws-sqs-queues-with-different-credentials-in-spring-boot

[2021-03-13 02:06] sheetaljajoo commented on #759
I am still facing the issue on aws lambda node js code, lambda will get the sdk version automatically i suppose? or do i need to upgrade? how do i do it?

[2021-03-15 17:17] joshiste commented on #760
@maciejwalkowiak is there any schedule for the release?

[2021-03-15 21:48] raja-baz commented on #556
So this happens as part of the evaluation of `@ConditionalOnAwsCloudEnvironment` which feeds into two pieces of auto-configuration: `ElastiCacheAutoConfiguration` and `ContextInstanceDataAutoConfiguration`. If you don't care about those being autoconfigured, you can exclude them and this issue goes away.

Like so(in kotlin):

[code]

[2021-03-16 13:43] joelhess commented on #760
It's been released. Check out https://github.com/awspring/spring-cloud-aws

[2021-03-17 08:55] denis111 commented on #760
So this page should be updated https://spring.io/projects/spring-cloud-aws ...

[2021-03-17 09:11] maciejwalkowiak commented on #760
@joshiste We have released 2.3.0, next step is official announcement and update sites. Thanks for patience and your feedback is very welcome!

[2021-03-17 09:11] #760 closed

[2021-03-22 23:00] andrewedstrom opened #766 "Link to 2.3.0 documentation is broken"
**Type**: Bug

**Component**:
Documentation

**Describe the bug**
The link to the documentation for Spring Cloud AWS 2.3.0 is broken here:https://spring.io/projects/spring-cloud-aws#learn

I believe the link should be this: https://docs.awspring.io/spring-cloud-aws/docs/2.3.0-RC2/reference/html/index.html

[2021-03-23 13:15] maciejwalkowiak commented on #766
Thanks for reporting, the link is fixed: https://docs.awspring.io/spring-cloud-aws/docs/current/reference/html/index.html

[2021-03-23 13:15] #766 closed

[2021-03-29 11:01] pilak opened #768 "SimpleStorageResource.getURL should not encode s3 object key slash character"
**Type**: Bug

**Component**:
S3

**Describe the bug**
When trying to get SimpleStorageResource URL it also encodes the slashes in the object name. But in AWS S3 slashes represents folders and may not be encoded, as it is not the same URL anymore.

**Sample**
[code]
throws

[code]

[2021-04-02 22:54] edudar commented on #556
Or even better, in properties like this:
[code]
and have this exclusion only in dev or tests profile but keep them in prod or whatever that runs in AWS

However, there might be more uses for `AwsCloudEnvironmentCheckUtils` so I'd still like to vote for a new property like `cloud.aws.metadata.enabled` or `spring.cloud.aws.metadata.enabled`. If it's `false` that `AwsCloudEnvironmentCheckUtils .isRun

[2021-04-03 10:34] jorgenota opened #770 "QueueMessageChannel.receive() implementation doesn't align with PollableChannel 's definition"
**Type**: Bug

**Component**:

SQS

**Describe the bug**

- According to javadoc of PollableChannel, MessageChannel.INDEFINITE_TIMEOUT should be used to represent indefinite timeout (instead of 0).
- The timeout parameter of PollableChannel.receive() method represents the timeout in milliseconds (so it should be transformed into seconds when building the ReceiveMessageRequest).

This PR betters sh

[2021-04-05 19:59] guilhermeandraschko-vakt commented on #300
@anne-k I've presented one answer to that stackoverflow post [Programatically consume from multiple queues sqs](https://stackoverflow.com/a/66935922/4694415)

[2021-04-06 11:20] maciejwalkowiak commented on #768
Replaced by https://github.com/awspring/spring-cloud-aws/issues/110

[2021-04-06 11:20] #768 closed

[2021-04-06 11:22] maciejwalkowiak commented on #556
In 2.3.0 we introduced a property `cloud.aws.instance.data.enabled` which is `false` by default.

[2021-04-06 11:29] maciejwalkowiak commented on #221
Apologies @fblanke. 2.3 has been released, recently we even published 2.3.1 with a bugfix.

[2021-04-06 11:45] maciejwalkowiak commented on #765
Credentials provider can be overwritten in following way:

[code]
Regarding your specific use case I'll follow up in stack overflow question.

[2021-04-06 11:45] #765 closed

[2021-04-06 11:51] maciejwalkowiak commented on #627
There is currently no out-of-the-box support for multiple SQS listener each with separate credentials. Lets track this issue here: https://github.com/awspring/spring-cloud-aws/issues/112

[2021-04-06 11:51] #627 closed

[2021-04-08 10:06] shameera91 commented on #199
Any thoughts on sending continuous requests. Is that a normal behavior ?
SpringCloudVersion - Edgware.SR6

[2021-04-09 15:38] jainhitesh9998 opened #771 "aws configuration using service account in eks"
I've associated a role with service account and attached it with an eks deployment. is there a way to use token from that to authorize aws sns messaging instead of providing the access_key and secret_key

AWS_ROLE_ARN=some_arn
AWS_WEB_IDENTITY_TOKEN_FILE=/var/run/secrets/eks.amazonaws.com/serviceaccount/token

are present in my pod.

[2021-04-09 21:48] neiljbrown commented on #771
Hi, yes, recent versions of the Amazon SDK(both 1.x and 2.x) include a class of AWSCredentialsProvider (WebIdentityTokenCredentialsProvider) that supports AWS clients  that are running in a Pod deployed on EKS authenticating their requests using the K8s OIDC provider's web identity token and assuming the IAM role. The WebIdentityTokenCredentialsProvider is also part of the default credentials  pro

[2021-04-10 00:43] jainhitesh9998 commented on #771
We have a vert.x application which is working fine with the k8s iam config and is able to talk to the permitted aws resources using the default credentials chain. But for some reason spring-cloud-messaging-aws is always failing stating it requires access key and secret. Is there any specific config needed. We have enabled default credentials chain though.

[2021-04-10 00:43] jainhitesh9998 commented on #771
We have a vert.x application which is working fine with the k8s iam config and is able to talk to the permitted aws resources using the default credentials chain. But for some reason spring-cloud-messaging-aws is always failing stating it requires access key and secret. Is there any specific config needed. We have enabled default credentials chain though.

[2021-04-12 19:34] internetstaff commented on #267
Perhaps Spring Cloud AWS 3.0 could just be an upgrade to SDK v2 in order to knock that out sooner rather than later?

We're starting to hit issues like SSO that simply aren't supported in SDK v1.

[2021-04-12 20:01] spencergibb commented on #267
The repo that would handle this is https://github.com/awspring/spring-cloud-aws

[2021-04-15 17:07] internetstaff commented on #102
I was unable to get this to work in auto-configuration without still resorting to `@Primary` as there seems to be a second credential provider created named `org.springframework.cloud.aws.core.region.RegionProvider.BEAN_NAME`.

[2021-04-16 23:16] helloworldless commented on #225
**2021 Update**

You can migrate to 2.3.x and use `cloud.aws.messaging.enabled=false`.

See here: https://docs.awspring.io/spring-cloud-aws/docs/2.3.1/reference/html/index.html#enabling-integrations

See also: https://awspring.io/learn/introduction/.

[2021-04-20 13:05] jainhitesh9998 commented on #771
Thanks, changed the configuration to use the WebIdentityTokenCredentialsProvider and it worked.

[2021-04-20 13:05] #771 closed

[2021-04-23 08:49] buckett commented on #240
With the move to a new repository (https://github.com/awspring/spring-cloud-aws) I was wondering if there was any update on this issue being addressed?

I had a quick look but the code still looks to be very similar to the code in this repository (I might have missed it).

[2021-04-28 02:20] peteguyatt opened #772 "AWS Parameter Store with Hoxton SR8+ doesn't override properties when using multiple profiles"
**Type**: Bug

**Component**:

Parameter Store

**Describe the bug**
When using multiple active profiles with spring cloud Hoxton SR10 and boot 2.3.9 we have noticed that property order seems to have changed, for example if we have two properties set E.g.

spring.profiles.active=profile_a,profile_b

Parameter Store configured as:
[code]

and in our bean we have
[code]

the value resolved will be a

[2021-05-04 13:49] celdridge91190 opened #774 "Add ability for SimpleStorageResource.getURL() to account for custom repositories not hosted in AWS"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
When trying to use Spring Cloud config with an S3 backend it is required to add spring-cloud-aws as a dependency to be able to take advantage of the SimpleStorageProtocolResolver in order to serve plain text configuration files. The Config server does a check to ensure the plain text file is available at the spec

[2021-05-06 22:14] richardrflores opened #775 "Does Spring Cloud support the explicit deletion of messages from SQS?"
The issue below shows a way that this might be achieved, but it's not clear if this way is supported.
https://github.com/spring-cloud/spring-cloud-aws/issues/134

The [documentation ](https://docs.awspring.io/spring-cloud-aws/docs/current/reference/html/index.html#using-amazon-web-services)does not mention any way of explicitly deleting messages from the queue, so I get the impression that it is n

[2021-05-10 10:30] ngocketit commented on #236
Could you please post an example? Can't seem to get the attributes from message.

[2021-05-11 12:23] sreekanth-tf commented on #742
Any updates, please?

[2021-05-12 10:18] adrian-morfi commented on #736
Hi @eddumelendez,

How can I implement your solution?
Right now I have this:

bootstrap.properties
[code]
pom.xml
[code]

With my solution I am forced to prefix "/".
What version of my dependencies should I change and what change in my bootstrap.properties should I made.

[2021-05-19 18:44] azizabah commented on #601
@eddumelendez - Is there any followup on this? When I POST to /actuator/refresh on a service that is up and connected to SQS queue using spring-cloud-aws-messaging:jar:2.2.1.RELEASE then I get the following error in my logs:
[code]

Please ignore the "numbers". Removed values in case they were leaking anything secret.

[2021-05-21 22:22] richardrflores commented on #775
Just an update that may be helpful to anyone else trying to explicitly delete messages from SQS. I was able to do this using the previously suggested way mentioned in #134, but you _must_ have the SqsMessageDeletionPolicy = NEVER. Sample is shown below. Please correct me if I'm wrong.

    @SqsListener(value = "${cloud.aws.endpoint.uri}", deletionPolicy = SqsMessageDeletionPolicy.NEVER)
    @Overr

[2021-06-15 11:09] JohannesZick opened #776 "Prefix for paramstore cannot be empty"
**Type**: Bug

**Component**:
Parameter Store

**Describe the bug**
According to the documentation, the prefix can be either a valid path or empty. This is great, because I want to only have the application name, no static prefix. But in reality, there is a validation that rejects `null` and empty strings.

**Sample**
Simply use `aws.paramstore.prefix: ""` in `bootstrap.yml`. The validation is als

[2021-06-15 13:47] dmitry-weirdo commented on #505
I actually have big doubts about `convertAndSend`, since custom headers do not work for SNS, and we have to set the custom message attributes instead. Is seems that custom attributes are not yet supported, or?

[2021-06-15 14:59] dmitry-weirdo opened #777 "AWS SNS: Add SNS FIFO queues support to NotificationMessagingTemplate: set PublishRequest.messageGroupId and PublishRequest.messageDeduplicationId"
In `QueueMessageChannel#prepareSendMessageRequest`, there is a special handling of `SqsMessageHeaders.SQS_GROUP_ID_HEADER` and `SqsMessageHeaders.SQS_DEDUPLICATION_ID_HEADER` set in the `Message#headers` map. This allows us to send a message to a FIFO queue.

However, there is no special handling of these headers in `TopicMessageChannel`, which leads to this exception, when we try to publish to a

[2021-06-24 22:05] madisoncarr commented on #236
Hey @ngocketit, can you provide an example of how you used the @Header annotation to get the message attributes?

[2021-07-01 13:23] sourabhjagtap95 commented on #376
I was wondering if there is any solution for this, as I'm also facing the same issue of not overriding the value which is coming from AWS paramstore with the one provided in command line.

[2021-07-05 13:58] ngocketit commented on #236
@madisoncarr Something like this:
[code]

[2021-07-08 02:26] andreas-trvlk opened #780 "is v2.3.0 released?"
Hi. I need compatible version for my Spring project which uses v2.4.x, especially for `spring-cloud-starter-aws-parameter-store-config`. I read that Spring Cloud AWS v2.3.x is the version that will compatible. But I cannot find it in the maven repository nor in the tag list. Do we have any additional news/step on how to use this v2.3.x?

[2021-07-08 08:02] maciejwalkowiak commented on #780
Spring Cloud AWS 2.3 is released under new organisation: https://github.com/awspring/spring-cloud-aws

Read more: https://spring.io/blog/2021/03/17/spring-cloud-aws-2-3-is-now-available

[2021-07-08 08:02] #780 closed

[2021-07-14 21:56] jojijohn opened #781 "Secrets manager issues in Spring boot 2.4"
**Type**: Bug

**Component**: Secrets Manager

**Describe the bug**
Spring boot 2.4.3
Spring Cloud AWS: 2.3.1

I am facing a couple of issues with Spring Cloud AWS integration for Secrets Manager and Parameter Store. I am planning to store my config in Parameter Store and the secrets in Secrets Manager

1. Even though I have a bootstrap.yml under src/main/resources; it is not being read on startup

[2021-07-15 20:07] jklap opened #782 "Secrets Manager & Spring Boot Cloud Stream"
**Type**: Bug

**Component**: Secrets Manager (and I think Parameter Store too)

**Describe the bug**
Spring Boot: 2.5.2
Spring Boot Cloud AWS: 2.3.1
Spring Cloud Stream: 3.1.1
Spring Kafka: 2.7.3

It looks like there is a problem with use of Spring Cloud Stream and Spring Boot AWS Secrets Manager.

We have a secret being pulled in via `spring.config.import: aws-secretmanager:<secret_name>`

If I

[2021-07-16 18:59] neiljbrown commented on #782
Hi, I believe this is a duplicate of https://github.com/awspring/spring-cloud-aws/issues/108, which reports the same issue for Spring Cloud AWS' SSM Param Store integration (albeit for earlier versions of Boot and Spring Cloud than you're using). As per that ticket, the issue has been fixed (see https://github.com/awspring/spring-cloud-aws/pull/142) and is due to be included in the next maintenanc

[2021-07-19 11:25] ips219 commented on #421
Any recommended approach when running multiple replicas of the service behind a load balancer?

Thanks and best regards.

[2021-07-21 05:01] maciejwalkowiak commented on #772
@MatejNedic can you take a look at this one? We should fix it in both `2.2.x` in this repo and `2.3.x` in awspring.

[2021-07-21 05:07] maciejwalkowiak commented on #774
@celdridge91190 issue moved to https://github.com/awspring/spring-cloud-aws/issues/166. Contributions welcome!

[2021-07-21 05:07] #774 closed

[2021-07-21 05:08] maciejwalkowiak commented on #374
Spring Cloud AWS 2.3 has been released in March https://spring.io/blog/2021/03/17/spring-cloud-aws-2-3-is-now-available

[2021-07-21 05:09] maciejwalkowiak commented on #736
@adrian-morfi use Spring Cloud AWS 2.3 https://spring.io/blog/2021/03/17/spring-cloud-aws-2-3-is-now-available

[2021-07-21 05:14] #776 closed

[2021-07-21 05:15] maciejwalkowiak commented on #776
Moved to https://github.com/awspring/spring-cloud-aws/issues/167

[2021-07-21 05:17] maciejwalkowiak commented on #777
Implemented in https://github.com/awspring/spring-cloud-aws/pull/130

[2021-07-21 05:17] #777 closed

[2021-07-21 05:22] #781 closed

[2021-07-21 05:22] maciejwalkowiak commented on #781
Moved to https://github.com/awspring/spring-cloud-aws/issues/168

[2021-07-21 05:25] maciejwalkowiak commented on #782
Thanks @neiljbrown for investigating. Indeed, this looks like the same issue. 2.3.2 will be released in upcoming weeks.

[2021-07-21 05:25] #782 closed

[2021-07-23 17:38] edudar commented on #742
I believe I might be experiencing the same issue. In my case, it's a matter of hours. I have multiple message listener containers and some of them randomly stop receiving messages. THere are no visible exceptions or errors. They just quietly quit.

[2021-07-26 03:15] #387 closed

[2021-07-28 19:51] petersonbr opened #783 "Can't create a custom PropertySourceLocator that depends on AwsSecretsManagerPropertySourceLocator"
**Type**: Bug

**Component**:
Secrets Manager

**Describe the bug**
Version: spring-cloud-aws: 2.2.6.RELEASE

I needed to create a custom `PropertySourceLocator`, and this property source needed to be processed after `AwsSecretsManagerPropertySourceLocator`. I've followed [this doc](https://bushkarl.gitbooks.io/spring-cloud/content/cloud_native_applications/spring_cloud_context_application_context

[2021-07-28 21:03] Slooz opened #784 "Document that cloud.aws.region.static must be set if not running in AWS"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
A lot of people seem to get confused by the following error:

#272, #251, #148

**Describe the solution you'd like**
While the error clearly points out the issue, the documentation doesn't make any mention of it. It has been said many times on GitHub issues, but it should also be documented:
https://github.com/sp

[2021-08-14 21:07] #784 closed

[2021-08-14 21:07] maciejwalkowiak commented on #784
Replaced with https://github.com/awspring/spring-cloud-aws/issues/173

[2021-08-14 21:09] maciejwalkowiak commented on #742
Have you tried to use the latest version of Spring Cloud AWS 2.3.1? Please note that Spring Cloud AWS moved to https://github.com/awspring/spring-cloud-aws, docs can be found at https://docs.awspring.io/spring-cloud-aws/docs/2.3.1/reference/html/index.html

[2021-08-14 21:12] maciejwalkowiak commented on #387
I think it was closed by accident. Now its replaced with https://github.com/awspring/spring-cloud-aws/issues/174

[2021-08-14 21:18] maciejwalkowiak commented on #783
Replaced with https://github.com/awspring/spring-cloud-aws/issues/175

[2021-08-14 21:18] #783 closed

[2021-08-14 21:20] #240 closed

[2021-08-14 21:20] maciejwalkowiak commented on #240
Replaced with https://github.com/awspring/spring-cloud-aws/issues/176

[2021-08-15 05:56] edudar commented on #742
I have not yet. It’s the plan but the move between packages made this a little bit bigger of a deal.

[2021-08-17 03:50] sudiptad2017 opened #785 "@SqsListener scaling"
**Type**: Bug

**Component**:
SQS

**Describe the bug**
I am using @SqsListener to read messages from SQS using the below config. I pushed 100 test messages to SQS and ran my SpringBoot application. What I observed is that after reading the first batch of 10 messages the listener was waiting for those 10 messages to be processed (which is simulated by 30 seconds of sleep) before reading in the nex

[2021-08-17 09:52] maciejwalkowiak commented on #785
@sudiptad2017 this is by design - listener fetches more messages once all messages from the batch are processed. We can come up with better design likely, but what is there right now is not a bug.

Also, please use the latest version - 2.3.1. Lots of small internal things have been improved between 2.2 and 2.3 versions.

[2021-08-17 12:39] sudiptad2017 commented on #785
@maciejwalkowiak Thank you for explaining that, also for pointing me to the updated version. I too was not quite sure whether it was a bug or designed that way.

I haven't gone through the code. But the improvement I can imagine would be to implement a config that can be turned up or down that controls the number of listener threads. So for a very busy queue it can read and delegate more batches t

[2021-08-17 12:39] #785 closed

[2021-08-17 13:22] maciejwalkowiak commented on #785
We have [moved to a new repo](https://spring.io/blog/2021/03/17/spring-cloud-aws-2-3-is-now-available) - https://github.com/awspring/spring-cloud-aws. We have there "Discussions" options enabled, so for questions it would be the best place.

[2021-09-15 12:59] mateohi opened #786 "Read messages from different AWS account using @SqsListener"
**Type**: Bug

**Component**: "SQS"

**Describe the bug**

I have an SQS standard queue that is provided by a third party vendor who has given access to our IAM user to read messages from there. So the AWS account ID for the queue is different than the one of my user.

I'm trying to use spring's `@SqsListener` annotation to consume these messages but I'm having trouble specifying the accountId tha

[2021-09-16 11:54] coderDem opened #787 "Support Graalvm"
Hello,

we want to use the native image of spring boot to use GraalVM: https://docs.spring.io/spring-native/docs/current/reference/htmlsingle/ and have an fast startime.

Our problem is that if we add the library we add also atomatic the SqsConfiguration.
If we try to build the image we get this error:

`Execution failed for task ':generateAot'.

If we look in the class:
https://github.com/spring-

[2021-09-16 20:30] neiljbrown commented on #786
Hi Mateo,

Every SQS is assigned a unique URL which includes the AWS account number. (See https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-queue-message-identifiers.html#queue-name-url).

The @SqsListener annotation accepts a list of queues to consume from. As described in the [Javadoc](https://github.com/awspring/spring-cloud-aws/blob/2.3.x/spring-cloud-aws-messaging

[2021-09-16 20:31] neiljbrown commented on #786
Hi Mateo,

Every SQS is assigned a unique URL which includes the AWS account number. (See https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-queue-message-identifiers.html#queue-name-url).

The @SqsListener annotation accepts a list of queues to consume from. As described in the [Javadoc](https://github.com/awspring/spring-cloud-aws/blob/2.3.x/spring-cloud-aws-messaging

[2021-09-17 08:39] mateohi commented on #786
Hi Neil,

Thank you so much, that worked. I thought I could only use the queue name there, my bad.

[2021-09-17 08:39] #786 closed

[2021-09-20 20:55] SunithaR opened #788 "SqsListener support for AWS SDK 2.0"
**Type**: `SqsListener` support for `AWS SDK 2.0 `

**Is your feature request related to a problem? Please describe.**
Need to use SqsListeneer with AWS SDK 2.0 to listen to and consumer SQS messages. Currently only AWS SDK 1.x is supported by spring-cloud-aws-messaging

**Describe the solution you'd like**
Would be good if there is a release candidate for `spring-cloud-aws-messaging` that is avai

[2021-09-21 12:53] nickcaballero commented on #788
See https://github.com/awspring/spring-cloud-aws/issues/20.

[2021-09-22 12:38] marcelovbm commented on #787
I'm with the same problem.

[2021-09-22 16:08] richbolen commented on #487
I have the same issue.  Any chance we could reopen this?

[2021-09-23 22:22] naveen-rd opened #789 "Dynamically modify SQS queue to an @SqsListener method at runtime ?"
[code]
I am using SqsListener which at the app startup loads foo queue just fine. But while the app is up and running processing events from the queue, if I want to change the queue to a different queue, say foo-test, does spring-cloud support it ?

Background: I am trying to run a test queue part of my deployment and the deployment would start with the test queue. Once messages from the test queu

[2021-09-26 16:40] Harsha-changejar commented on #167
ANy update here?

[2021-09-30 14:59] renato04 opened #790 "SQS Listener is not listening localstack queue"
**Type**: Bug

**Component**:
SQS

**Describe the bug**
Hi!

I'm trying to list an SQS queue from localstack but I'm receiving a message that said the queue does not exist.

I don't if this is related to this issue #788
If this is not a bug, I'm sorry.

[code]

If I use `AWS CLI` the queue is there.
[code]
I don't what I'm missing.

**Sample**
Here is my properties file
[code]

Here is my bean con

[2021-09-30 17:42] nickcaballero commented on #790
Maybe increase the logging level to make sure that the AWS client is using the correct endpoint?

[2021-09-30 17:46] renato04 commented on #790
@nickcaballero how can I do that?

[2021-09-30 17:52] nickcaballero commented on #790
Set logger to debug mode.

[code]

[2021-09-30 18:37] renato04 commented on #790
@nickcaballero I put `logging.level.root=DEBUG` and the log is

[code]

[2021-10-01 11:20] renato04 commented on #790
I've changed the bean configuration to this

[code]
And now It worked.

Thanks!

[2021-10-01 11:20] #790 closed

[2021-10-01 11:44] renato04 opened #791 "AmazonSQSAsync default bean is not overrided using service region property"
**Type**: Bug

**Component**:
SQS

**Describe the bug**
I'm using the region properties to override the default region like this

[code]

The injected object has not the region configured properly as shown in the following image

![image](https://user-images.githubusercontent.com/5497267/135613837-f12b65ed-2ddb-4420-9c37-42e5084e3466.png)

**Sample**
Add the properties

[code]

The bean configurat

[2021-10-01 13:20] nickcaballero commented on #790
Looking at the logs, it did send your request to localhost:4566. Were you able to determine what was wrong?

[2021-10-01 13:48] renato04 commented on #790
@nickcaballero I'm running localstack with 'sa-east-1' default region.
Using the logs I realized the region in the headers was
[code]
As you can see the region in the was `us-east-1`.

After I changed the `AmazonSQSAsync` to my bean as primary ([just like this](https://github.com/spring-cloud/spring-cloud-aws/issues/790#issuecomment-932143063)) I realized the bean created by the framework has not

[2021-10-03 13:12] tinexw commented on #624
Any more thoughts on it @maciejwalkowiak?

[2021-10-05 17:32] matheosu opened #792 "QueueMessageChannel Sending Batch Messages"
**Type**: Feature

I would like it if the batch method available from [AWS SDK](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/APIReference/API_SendMessageBatch.html) it is a possible thing to incorporate on the QueueMessageChannel or in another place to create the best alternative to send batch messages.

[2021-10-05 18:14] jasonab commented on #629
The main benefit from a Spring-native client is a consistent API. Currently, the `ResourceLoader` operates on URLs, while the S3 library operates on bucket/path string pairs - translating between these is not a big deal, but annoying.

[2021-10-08 11:18] adrian-morfi commented on #736
@maciejwalkowiak, it works!

thanks!

[2021-10-15 06:45] maxHyeon opened #793 "spring-cloud-starter-aws-parameter-store-config is collisioned other SDK"
**Type**: Bug

**Component**:
"Parameter Store"

**Describe the bug**
When using dependency 'aws-xray-recorder-sdk-aws-sdk-instrumentor', when adding the dependency spring-cloud-starter-aws-parameter-store-config to use the aws-parameter store, a com.amazonaws.xray.exceptions.SegmentNotFoundException error occurs and the Application run fail occurs.

**Sample**
[pom copy.txt](https://github.com/sp

[2021-10-29 14:51] vojtapol opened #794 "Support for latest Spring Boot version"
Are there plans to support the latest Spring Boot version so that it can be listed in the Spring Initializr? What would need to be done to support it?

Please also see https://github.com/spring-io/start.spring.io/issues/783 for more context.

[2021-11-02 11:25] setu9760 opened #795 "SimpleMessageListenerContainerFactory doesn't propagate queueMessageHandler field when SimpleMessageListenerContainer bean is created via createSimpleMessageListenerContainer"
**Type**: Bug

**Component**:
SQS messaging

**Describe the bug**
SimpleMessageListenerContainerFactory has queueMessageHandler field and has setter for this. However when public method `createSimpleMessageListenerContainer` is called to create the actual bean `SimpleMessageListenerContainer` this field is not propagated. Ideally for the factory bean we would want all the relevant properties/field

[2021-11-02 23:57] peteguyatt commented on #772
@WtfJoke You're correct the same issue exists with secrets manager too @maciejwalkowiak & @MatejNedic any chance of getting this merged in?

[2021-11-02 23:57] peteguyatt commented on #772
I'm happy to create a separate PR for the secrets manager fix too if there is a appetite for this

[2021-11-03 02:43] ahmadimt opened #796 "AWS Parameter Store properties are being refreshed by Actuator Irrespective of Profile used"
**Type**: Bug

**Component**:
"Parameter Store"

**Describe the bug**
We are using `spring-cloud-starter-aws-parameter-store-config-2.2.5.RELEASE` for storing and retrieving the properties from AWS Parameter store and actuator for dynamically refreshing the properties. We have multiple profile-specific properties in same AWS parameter store. When we are calling `/refresh` in one environment, it is

[2021-11-03 07:09] WtfJoke commented on #772
@peteguyatt the PR https://github.com/awspring/spring-cloud-aws/pull/195 contains fixes for both (secrets manager and parameter store).

Its probably better if we discuss in the new (migrated) issue 👍

[2021-11-03 07:22] peteguyatt commented on #772
@WtfJoke Thanks for porting the fix to the new repo and fixing secrets manager while you were at it, would you mind adding me as a contributor to the unit tests/PR in general?

[2021-11-05 14:13] omerhakanbilici commented on #300
@joegoogle123 your reflectoring io link goes somewhere else. can you edit please?

[2021-11-07 09:26] faisal-zulfiqar opened #797 "Conditionally fetch default context secrets"
**Type**: Bug

**Component**: Secrets Manager

**Describe the bug**
So I'm making use of the `spring-cloud-starter-aws-secrets-manager-config` version `2.3.2`, along with Spring Boot version `2.5.5`, and I noticed that it allows importing individual secrets like:

[code]

However, I also notice that the `fail-fast` has to be set to `false` for it to work because it always tries to fetch:

- `{defa

[2021-11-22 00:12] brobusf21 opened #798 "AWS Parameter Store (SSM) Does Not Support Square Brackets for cloud.aws.rds.instances When Configuring RDS Datasource"
AWS SSM does not support square brackets in the parameter name which conflicts with how Spring Cloud AWS 2.3 wants us to configure our datasource in Spring Boot. See: https://docs.awspring.io/spring-cloud-aws/docs/2.3.0/reference/html/index.html#data-access-with-jdbc

Now that we have to define an index, we can not use SSM given that square brackets in the parameter name are not supported. I'm not

[2021-11-23 07:31] hannes-angst opened #799 "Spring Boot 2.6 Startup Failure"
**Type**: Bug

**Component**:
- spring-cloud-aws-secrets-manager-config
- Secrets Manager

**Describe the bug**
General Startup failure because of an - maybe - unused dependency [(pom.xml)](https://github.com/spring-cloud/spring-cloud-aws/blob/8d1675bd900071094ed92e638e8ff2ca093a6633/spring-cloud-aws-secrets-manager-config/pom.xml#L43) to the now not longer support `spring-cloud-context`.

Display

[2021-12-04 06:24] Kernelogy commented on #360
By disabling the "Raw Message Delivery" in topic subscription created, the issue could be rectified.

[2021-12-09 12:09] helpermethod commented on #247
We are seeing exactly the same problem. This created quite a lot of confusion, because the integration test itself succeeds.

[2021-12-16 09:20] PriyankaKotwal2019 opened #800 "Not able to fetch multiple secrets with spring-cloud-starter-aws-secrets-manager-config"
**Type**: Bug

**Component**:
"Secrets Manager"

**Describe the bug**
I am using  **spring-cloud-starter-aws-secrets-manager-config** to retrieve secrets from Secret Manager. It works perfectly fine with a single secret however I want to retrieve values from multiple secrets, how can I do that?
Storing all my secrets under 1 secret to use spring-cloud-starter-aws-secrets-manager-config is not an o

[2021-12-17 13:19] aka-toxa commented on #421
hi I have the same question, what we should do when we run hundreds of replicas of our microservice?

[2021-12-17 15:20] migroskub opened #801 "Fix the docs"
**Type**: Bug

**Component**: Documentation

**Describe the bug**
Please provide details of the problem, including the version of Spring Cloud that you
are using.
I went to the documentation as a new user. It looked awesome, but the second and third pages have been pretty embarrassing. They just contain the word "TODO".

**Sample**
As you can see at the [following link](https://awspring.io/learn/q

[2021-12-17 15:30] migroskub opened #802 "Project Reactor support"
**Type**: Feature

**Is your feature request related to a problem? Please describe.**
I would like to be able to use Project Reactor with S3.

**Describe the solution you'd like**
Addition of out-of-the-box features for Reactive usage of the AWS stack.

**Describe alternatives you've considered**
An alternative could be doing the integration on the Spring-Integration side, as suggested in https://

[2021-12-17 16:37] yyatsiuk commented on #421
If eventual consistency is appropriate for the system, then properties pooling can be implemented through a scheduled context refresh.
[code]

[2021-12-18 16:55] lynch19 commented on #802
+1

[2022-01-05 12:12] rmpestano opened #803 "Cannot fetch parameter from ssm parameter store in local tests"
**Type**: Bug

**Component**:
aws-parameter-store-config

**Describe the bug**

Hi everyone, I'm having an issue with ` aws-parameter-store-config` only locally (everything works on aws) so I guess I have a problem within my local setup.

I'm trying to use localstack to mock SSM in my integration test. The application can connect to the store (I debugged and see [this request is successfull](https

[2022-01-11 05:15] romil-patel-integrella opened #804 "s3EventNotification.getRecords() returns null even when the record is present"
I am consuming the events that occurred in the s3 bucket using the SQS and fetching the s3 object using the keys, I am using the  @SqsListener to listen to the events. As per the documentation, I may use the custom objects as shown below, when I use the  `S3EventNotification` to get the records and fetch s3 bucket keys I am getting it as null while if I use String instead of S3EventNotification cl